@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Styles
{
    <link rel="stylesheet" href="~/about2/css/css-bootstrap.min.css" type="text/css" media="all">
    <!-- animate css -->
    <link rel="stylesheet" href="~/about2/css/css-animate.min.css" type="text/css" media="all">
    <!-- owl carousel css -->
    <link rel="stylesheet" href="~/about2/css/css-owl.carousel.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/about2/css/css-owl.theme.default.min.css" type="text/css" media="all">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="~/about2/css/css-meanmenu.min.css" type="text/css" media="all">
    <!-- jquery ui css -->
    <link rel="stylesheet" href="~/about2/css/css-jquery-ui.min.css" type="text/css" media="all">
    <!-- selectize css -->
    <link rel="stylesheet" href="~/about2/css/css-selectize.min.css" type="text/css" media="all">
    <!-- magnific popup css -->
    <link rel="stylesheet" href="~/about2/css/css-magnific-popup.min.css" type="text/css" media="all">
    <!-- icofont css -->
    <link rel="stylesheet" href="~/about2/css/css-icofont.min.css" type="text/css" media="all">
    <!-- flaticon css -->
    <link rel="stylesheet" href="~/about2/css/css-flaticon.css" type="text/css" media="all">
    <!-- style css -->
    <link rel="stylesheet" href="~/about2/css/css-style.css" type="text/css" media="all">
    <!-- responsive css -->
    <link rel="stylesheet" href="~/about2/css/css-responsive.css" type="text/css" media="all">
}


     
        <!-- Topbar -->
        <!-- Navbar -->
     
        <!-- Navbar -->
        <!-- Header -->
    
        <!-- Header -->
        <!-- About -->




<section class="pageBanner">
    <img src="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?q=80&w=821&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
    <div class="pageBannerInner">
        <div class="container">
            <h2>About Us</h2>
        </div>
    </div>
</section>

        <section class="about-section position-relative pb-70">
            <div class="map-shapes">
                <div class="map-shape map-shape-1 map-shape-top">
                    <img src="~/about2/images/shapes-map-1.png" alt="shape">
                </div>
            </div>
            <div class="container">
                <div class="section-title">
                    <small>Who We Are</small>
                    <h2>Know More About Ourselves</h2>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 pb-30">
                        <div class="about-content-details desk-pad-right-40">
                            <h3>We Are Your Travel Mate</h3>
                    <p>Since our Haven Club And Resorts Private Limited inception in 2022, we have transcended traditional travel through multi-dimensional experiences crafted for visionary explorers.</p>
                            <ul>
                        <li>Unlock exclusive member rates at our handpicked collection of 5-star properties</li>
                        <li>Our travel designers craft personalized journeys that create unforgettable experiences</li>
                        <li>Enjoy priority access, upgrades, and special amenities across our network</li>
                        <li>Your safety and comfort are our top priorities at every destination.</li>
                            </ul>
                    <p>We're pioneering the future of dimensional travel with cutting-edge technology and unparalleled service </p>
                        </div>
                    </div>
                    <div class="col-lg-6 pb-30">
                        <div class="about-content-image border-radius-10">
                            <img src="~/about2/images/images-about-us-image.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About -->
        <!-- Holiday Planning -->
        <section class="holiday-planning-section pb-70 position-relative">
            <div class="map-shapes">
                <div class="map-shape map-shape-2">
                    <img src="~/about2/images/shapes-map-2.png" alt="shape">
                </div>
            </div>
            <div class="container">
                <div class="section-title">
                    <small>The Top Places For</small>
                    <h2>Planning Your Holiday</h2>
                </div>
                <div class="row  justify-content-center">
                    <div class="col-sm-6 col-lg-4 col-xl-3 pb-30">
                        <div class="card-1">
                            <div class="card-1-image">
                                <div class="card-1-overlay">
                                    <a href="single-destination.html">
                                        <img src="~/about2/images/holiday-holiday-place-1.jpg" alt="holiday">
                                    </a>
                                    <ul class="card-1-entry">
                                        
                                    </ul>
                                </div>
                                <div class="card-1-redirect">
                                    <a href="single-destination.html">
                                        <i class="flaticon-export"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-1-content">
                                <div class="card-1-info">
                                    <h3>
                                        <a href="single-destination.html">Rome</a>
                                    </h3>
                                    <div class="card-1-reviews">
                                        
                                    </div>
                                </div>
                               @*  <p>Lorem ipsum dolor sit amet, consetetu regal sadipscing elitr, sed diam.</p> *@
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-3 pb-30">
                        <div class="card-1">
                            <div class="card-1-image">
                                <div class="card-1-overlay">
                                    <a href="single-destination.html">
                                        <img src="~/about2/images/holiday-holiday-place-2.jpg" alt="holiday">
                                    </a>
                                    <ul class="card-1-entry">
                                     @*    <li>
                                            <i class="flaticon-calendar"></i>
                                            28 Jan
                                        </li>
                                        <li>
                                            <i class="flaticon-user-1"></i>
                                            03 +
                                        </li>
                                        <li>
                                            <i class="flaticon-placeholder-point"></i>
                                            Vetican
                                        </li> *@
                                    </ul>
                                </div>
                                <div class="card-1-redirect">
                                    <a href="single-destination.html">
                                        <i class="flaticon-export"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-1-content">
                                <div class="card-1-info">
                                    <h3>
                                        <a href="single-destination.html">Vatican</a>
                                    </h3>
                                  @*   <div class="card-1-reviews">
                                        <ul class="review-star">
                                            <li class="full-star"><i class="flaticon-star"></i></li>
                                            <li class="full-star"><i class="flaticon-star"></i></li>
                                            <li class="full-star"><i class="flaticon-star"></i></li>
                                            <li class="full-star"><i class="flaticon-star"></i></li>
                                            <li class="full-star"><i class="flaticon-star"></i></li>
                                        </ul>
                                        <span>(112 Reviews)</span>
                                    </div> *@
                                </div>
                               @*  <p>Lorem ipsum dolor sit amet, consetetu regal sadipscing elitr, sed diam.</p> *@
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-3 pb-30">
                        <div class="card-1">
                            <div class="card-1-image">
                                <div class="card-1-overlay">
                                    <a href="single-destination.html">
                                        <img src="~/about2/images/holiday-holiday-place-3.jpg" alt="holiday">
                                    </a>
                                   @*  <ul class="card-1-entry">
                                        <li>
                                            <i class="flaticon-calendar"></i>
                                            28 Jan
                                        </li>
                                        <li>
                                            <i class="flaticon-user-1"></i>
                                            02 +
                                        </li>
                                        <li>
                                            <i class="flaticon-placeholder-point"></i>
                                            Milan
                                        </li>
                                    </ul> *@
                                </div>
                                <div class="card-1-redirect">
                                    <a href="single-destination.html">
                                        <i class="flaticon-export"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-1-content">
                                <div class="card-1-info">
                                    <h3>
                                        <a href="single-destination.html">Milan</a>
                                    </h3>
                                   @*  <div class="card-1-reviews">
                                        <ul class="review-star">
                                            <li class="full-star"><i class="flaticon-star"></i></li>
                                            <li class="full-star"><i class="flaticon-star"></i></li>
                                            <li class="full-star"><i class="flaticon-star"></i></li>
                                            <li class="full-star"><i class="flaticon-star"></i></li>
                                            <li class="full-star"><i class="flaticon-star"></i></li>
                                        </ul>
                                        <span>(114 Reviews)</span>
                                    </div> *@
                                </div>
                               @*  <p>Lorem ipsum dolor sit amet, consetetu regal sadipscing elitr, sed diam.</p> *@
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-3 pb-30">
                        <div class="card-1">
                            <div class="card-1-image">
                                <div class="card-1-overlay">
                                    <a href="single-destination.html">
                                        <img src="~/about2/images/holiday-holiday-place-4.jpg" alt="holiday">
                                    </a>
                                    @* <ul class="card-1-entry">
                                        <li>
                                            <i class="flaticon-calendar"></i>
                                            27 Jan
                                        </li>
                                        <li>
                                            <i class="flaticon-user-1"></i>
                                            03 +
                                        </li>
                                        <li>
                                            <i class="flaticon-placeholder-point"></i>
                                            Winter
                                        </li>
                                    </ul> *@
                                </div>
                                <div class="card-1-redirect">
                                    <a href="single-destination.html">
                                        <i class="flaticon-export"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-1-content">
                                <div class="card-1-info">
                                    <h3>
                                        <a href="single-destination.html">Winter</a>
                                    </h3>
                                  @*   <div class="card-1-reviews">
                                        <ul class="review-star">
                                            <li class="full-star"><i class="flaticon-star"></i></li>
                                            <li class="full-star"><i class="flaticon-star"></i></li>
                                            <li class="full-star"><i class="flaticon-star"></i></li>
                                            <li class="full-star"><i class="flaticon-star"></i></li>
                                            <li class="full-star"><i class="flaticon-star"></i></li>
                                        </ul>
                                        <span>(51 Reviews)</span>
                                    </div> *@
                                </div>
                                @* <p>Lorem ipsum dolor sit amet, consetetu regal sadipscing elitr, sed diam.</p> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Holiday Planning -->
        <!-- Tour -->
        <section class="tour-section bg-offwhite pt-100 pb-70 animate-section position-relative overflow-hidden" id="animateSection">
            <div class="radial-animation-shape radial-animation-shape-active">
                <img src="~/about2/images/shapes-compass.png" alt="compass">
            </div>
            <div class="container-fluid custom-container-fluid position-relative">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 pb-30">
                        <div class="max-685 ms-auto me-auto me-lg-0">
                            <div class="section-title section-title-left about-title">
                                <small>We Are Specialized In</small>
                                <h2>Tour &amp; Travel Arrangement</h2>
                            </div>
                            <div class="about-content-item">
                                <div class="about-content-thumb">
                                    <i class="flaticon-map"></i>
                                </div>
                                <div class="about-content-texts">
                                    <h3>We Can Be A Great Travel Planner For You</h3>
                            <p>Access over 10,000 verified dimensional portals to parallel worlds and alternate realities.</p>
                                </div>
                            </div>
                            <div class="about-content-item">
                                <div class="about-content-thumb">
                                    <i class="flaticon-compass"></i>
                                </div>
                                <div class="about-content-texts">
                                    <h3>We Guide You All Over The World</h3>
                            <p>From booking flights and accommodations to arranging guided tours and transportation, we handle all the details so you can focus on enjoying your adventure. Our services are designed to make your travel experience seamless and stress-free.</p>
                                </div>
                            </div>
                            <div class="text-center text-lg-start">
                                <a href="about-us.html" class="btn main-btn main-btn-arrow">Discover More <i class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pb-30">
                        <div class="about-content-image text-center">
                            <img src="~/about2/images/images-tour-about.png" alt="about">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Tour -->
        <!-- Tour Video -->
        <section class="tour-video-section position-relative pt-100">
            <div class="map-shapes">
                <div class="map-shape map-shape-2 map-shape-top">
                    <img src="~/about2/images/shapes-map-2.png" alt="shape">
                </div>
            </div>
            <div class="tour-video-contents">
                <div class="tour-video-item desk-pad-right-70 order-2 order-lg-1">
                    <div class="tour-video-bg">
                        <div class="video-icon">
                            <a href="https://www.youtube.com/watch?v=pqEO5r-Vlpo" class="video-popup">
                                <i class="flaticon-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tour-video-item tour-video-item-details pt-100 order-1 order-lg-2 tab-pt-0">
                    <div class="max-685 m-auto me-lg-0 ms-lg-0">
                        <div class="section-title section-title-left about-title">
                            <small>Among The All</small>
                            <h2>Choose Your Favorite Tour</h2>
                        </div>
                        <div class="about-content-item">
                            <div class="about-content-thumb">
                                <i class="flaticon-gallery"></i>
                            </div>
                            <div class="about-content-texts">
                                <h3>We Suggest You The Best Tour Collection</h3>
                                <p>Our knowledgeable guides are passionate about sharing their insights and stories, ensuring that you gain a deeper understanding of each destination. With us, you’ll not only see the sights but also experience the culture and traditions of the places you visit.</p>
                            </div>
                        </div>
                        <div class="text-center text-lg-start">
                            <a href="#" class="btn main-btn main-btn-arrow">Book A Tour <i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container tour-category">
                <div class="row  justify-content-center">
                    <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 pt-30">
                        <div class="tour-category-card tour-category-card-blue">
                            <a href="#">
                                <i class="flaticon-hiking"></i>
                                <h3>Adventure</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 pt-30">
                        <div class="tour-category-card tour-category-card-pink">
                            <a href="#">
                                <i class="flaticon-beach"></i>
                                <h3>Sea Beach</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 pt-30">
                        <div class="tour-category-card tour-category-card-green">
                            <a href="#">
                                <i class="flaticon-adventure"></i>
                                <h3>Mountain</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 pt-30">
                        <div class="tour-category-card tour-category-card-yellow">
                            <a href="#">
                                <i class="flaticon-bagpack"></i>
                                <h3>Couple Tour</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 pt-30">
                        <div class="tour-category-card tour-category-card-purple">
                            <a href="#">
                                <i class="flaticon-fire"></i>
                                <h3>Night Fall</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 pt-30">
                        <div class="tour-category-card tour-category-card-greendark">
                            <a href="#">
                                <i class="flaticon-signpost"></i>
                                <h3>Popular</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Tour Video -->
        <!-- Team -->
        <!-- Testimonial -->
        <section class="testimonial-section image-bg image-bg-1 p-tb-100">
            <div class="container-fluid position-relative z-index-1">
                <div class="section-title section-title-white">
                    <small>Testimonials Of The Traveller</small>
                    <h2>Some Good Talk About Us</h2>
                </div>
        <div class="testimonial-carousel owl-carousel owl-theme preferredPartnersInner owl-carousel">
                    <div class="item">
                        <div class="testimonial-card text-center">
                            <div class="testimoial-quote">
                                <i class="flaticon-left-quote"></i>
                            </div>
                            <p class="testimonial-feedback">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                            <div class="testimonial-client-info">
                                <img src="~/about2/images/clients-client-1.jpg" alt="client">
                                <ul class="review-star">
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                </ul>
                                <h3 class="testimonial-name">Amrita Roy</h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-card text-center">
                            <div class="testimoial-quote">
                                <i class="flaticon-left-quote"></i>
                            </div>
                            <p class="testimonial-feedback">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                            <div class="testimonial-client-info">
                                <img src="~/about2/images/clients-client-2.jpg" alt="client">
                                <ul class="review-star">
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                </ul>
                                <h3 class="testimonial-name">John Abril</h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-card text-center">
                            <div class="testimoial-quote">
                                <i class="flaticon-left-quote"></i>
                            </div>
                            <p class="testimonial-feedback">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                            <div class="testimonial-client-info">
                                <img src="~/about2/images/clients-client-3.jpg" alt="client">
                                <ul class="review-star">
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                </ul>
                                <h3 class="testimonial-name">Jane Anderson</h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-card text-center">
                            <div class="testimoial-quote">
                                <i class="flaticon-left-quote"></i>
                            </div>
                            <p class="testimonial-feedback">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                            <div class="testimonial-client-info">
                                <img src="~/about2/images/clients-client-4.jpg" alt="client">
                                <ul class="review-star">
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                    <li class="full-star"><i class="flaticon-star"></i></li>
                                </ul>
                                <h3 class="testimonial-name">Devit Kotlin</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonial -->
        <!-- Partner -->
        <section class="partner-section pt-100 pb-70 line-shape-bg line-shape-bg-right position-relative overflow-hidden">
            <div class="map-shapes">
                <div class="map-shape map-shape-1 map-shape-top map-shape-sm">
                    <img src="~/about2/images/shapes-map-1.png" alt="shape">
                </div>
            </div>
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-4 pb-30 desk-pad-right-40">
                        <div class="section-title about-title section-title-left m-0">
                        <span>meet our partners

                        </span>
                            <h2>Meet Our Partners</h2>
                    <p>we believe in the power of collaboration. Our partners are integral to our mission of delivering innovative solutions and exceptional value to our clients. Together, we leverage our strengths to drive progress and create impactful results..</p>
                            <a href="about-us.html" class="btn main-btn main-btn-arrow">More About Us <i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row  justify-content-center">
                            <div class="col-6 col-sm-4 col-md-3 col-lg-3 pb-30">
                                <div class="partner-image">
                                    <a href="contact.html">
                                        <img src="~/about2/images/agodabg.png" alt="partner" class="partner-default">
                                <img src="~/about2/images/agodabg.png" alt="partner" class="partner-hover">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3 col-lg-3 pb-30">
                                <div class="partner-image">
                                    <a href="contact.html">
                                        <img src="~/about2/images/regentabg.png" alt="partner" class="partner-default">
                                <img src="~/about2/images/regentabg.png" alt="partner" class="partner-hover">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3 col-lg-3 pb-30">
                                <div class="partner-image">
                                    <a href="contact.html">
                                        <img src="~/about2/images/booking.combg.png" alt="partner" class="partner-default">
                                <img src="~/about2/images/booking.combg.png" alt="partner" class="partner-hover">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3 col-lg-3 pb-30">
                                <div class="partner-image">
                                    <a href="contact.html">
                                        <img src="~/about2/images/royalorchid.png" alt="partner" class="partner-default">
                                <img src="~/about2/images/royalorchid.png" alt="partner" class="partner-hover">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3 col-lg-3 pb-30">
                                <div class="partner-image">
                                    <a href="contact.html">
                                        <img src="~/about2/images/makemytripbg.png" alt="partner" class="partner-default">
                                <img src="~/about2/images/makemytripbg.png" alt="partner" class="partner-hover">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3 col-lg-3 pb-30">
                                <div class="partner-image">
                                    <a href="contact.html">
                                        <img src="~/about2/images/sarovarbg.png" alt="partner" class="partner-default">
                                <img src="~/about2/images/sarovarbg.png" alt="partner" class="partner-hover">
                                    </a>
                                </div>
                            </div>
                            <div class="  col-6 col-sm-4 col-md-3 col-lg-3 pb-30">
                                <div class="partner-image">
                                    <a href="contact.html">
                                        <img src="~/about2/images/gobibobg.png" alt="partner" class="partner-default">
                                <img src="~/about2/images/gobibobg.png" alt="partner" class="partner-hover">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3 col-lg-3 pb-30">
                                <div class="partner-image">
                                    <a href="contact.html">
                                        <img src="~/about2/images/bookmyshowbg.png" alt="partner" class="partner-default">
                                <img src="~/about2/images/bookmyshowbg.png" alt="partner" class="partner-hover">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Partner -->
        <!-- Footer -->
     
        <!-- Footer -->

        <!-- Top Sidebar -->
     
        <!-- Top Sidebar -->
        

        <!-- Search Wrapper -->
 
        <!-- Search Wrapper -->
        
        <!-- Scroll-top -->




@section scripts {
  @*   <script src="~/js/jquery.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/fancybox.min.js"></script>
    <script src="~/js/custom.js"></script> *@

         jQuery.noConflict();
    @* <script src="~/js/owl.carousel.min.js"></script> *@
    <script data-cfasync="false" src="~/about2/js/cloudflare-static-email-decode.min.js">
    </script><script src="~/about2/js/js-jquery.min.js"></script>
    <script src="~/about2/js/js-bootstrap.bundle.min.js"></script>
    <!-- jquery ui js -->
    <script src="~/about2/js/js-jquery-ui.js"></script>
    <!-- selectize js -->
    <script src="~/about2/js/js-selectize.min.js"></script>
    <!-- magnific popup js -->
    <script src="~/about2/js/js-jquery.magnific-popup.min.js"></script>
    <!-- owl carousel js -->
    <script src="~/about2/js/js-owl.carousel.min.js"></script>

    <!-- form ajazchimp js -->
    <script src="~/about2/js/js-jquery.ajaxchimp.min.js"></script>
    <!-- form validator js  -->
    <script src="~/about2/js/js-form-validator.min.js"></script>
    <!-- contact form js -->
    <script src="~/about2/js/js-contact-form-script.js"></script>
    <!-- meanmenu js -->
    <script src="~/about2/js/js-jquery.meanmenu.min.js"></script>
    <!-- main js -->
    <script src="~/about2/js/js-script.js"></script>
    <script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'955c471f1a12ba34',t:'MTc1MDkzNjQzMi4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script>
    }

      