@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/destination/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/destination/css/fancybox.min.css">
    <link rel="stylesheet" type="text/css" href="~/destination/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/destination/css/responsive.css">
}
<section class="pageBanner">
    <img src="https://images.unsplash.com/photo-1597074866202-b71868f8ec6d?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
    <div class="pageBannerInner">
        <div class="container">
            <h2>Domestic Destinations</h2>
        </div>
    </div>
</section>
<section class="mainDestination travelBgWithOutpd">
    <div class="container">
        
        <div class="destinationListOuterWrapper">
            <div id="filtered_data">
                    
                   <div class="destinationListOuter">
                  <div class="listingItem agra">
                      <a href="" class="listingItemImg">

                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Taj_Mahal_%28Edited%29.jpeg/1024px-Taj_Mahal_%28Edited%29.jpeg">
                      </a>
                     <div class="listingItemContent">
                         <h4><a href="https://clubliberty.in/resort/park-inn-jaipur-jai-singh-highway">Taj Mahal</a></h4>
                      <p></p>
                            <p>The Taj Mahal is an ivory-white marble mausoleum on the right bank of the river Yamuna in Agra, Uttar Pradesh, India.</p>
                       
                     
                     
                      </div>
                   </div>
                   <div class="listingItem agra">
                      <a href="https://clubliberty.in/resort/sarovar-portico-jaipur" class="listingItemImg">

                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Agra_03-2016_10_Agra_Fort.jpg/330px-Agra_03-2016_10_Agra_Fort.jpg">
                        </a>
                      <div class="listingItemContent">
                            <h4><a href="https://en.wikipedia.org/wiki/Agra_Fort">Red Fort Agra</a></h4>
                         <p></p>
                            <p>The Agra Fort (Qila Agra) is a historical Mughal fort in the city of Agra, also known as Agra's Red Fort. Mughal emperor Humayun was crowned at this fort in 1530. It was later renovated by the Mughal emperor Akbar from 1565 and the present-day structure was completed in 1573.</p>
                            <a href="https://en.wikipedia.org/wiki/Agra_Fort" class="re_more">Read More</a>
                         <div class="detailsEnclude">
                            <h6>Services Provided</h6>
                            <div class="desti_icon_main">
                               <div class="desti_icon">
                                  <img src="https://clubliberty.in/asset/img/icons/bad.png">
                                  <p>Hotel</p>
                               </div>
                             
                            
                               <div class="desti_icon">
                                  <img src="https://clubliberty.in/asset/img/icons/location1.png">
                                  <p>Agra</p>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                    <div class="listingItem agra">
                        <a href="" class="listingItemImg">

                            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Fatehput_Sikiri_Buland_Darwaza_gate_2010.jpg">
                        </a>
                        <div class="listingItemContent">
                            <h4><a href="https://en.wikipedia.org/wiki/Agra_Fort">FathehPur Sikri Agra</a></h4>
                            <p></p>
                            <p>Fatehpur Sikri (Hindi: [ˈfətɛɦpʊɾ ˈsiːkɾiː]) is a town in the Agra District of Uttar Pradesh, India. Situated 35.7 kilometres (22.2 mi) from the district headquarters of Agra,[3] Fatehpur Sikri itself was founded as the capital of the Mughal Empire in 1571 by Emperor Akbar, serving this role from 1571 to 1585, when Akbar abandoned it due to a campaign in Punjab and was later completely abandoned in 1610</p>
                            <a href="https://en.wikipedia.org/wiki/Agra_Fort" class="re_more">Read More</a>
                            <div class="detailsEnclude">
                                <h6>Services Provided</h6>
                                <div class="desti_icon_main">
                                    <div class="desti_icon">
                                        <img src="https://clubliberty.in/asset/img/icons/bad.png">
                                        <p>Hotel</p>
                                    </div>
                                 
                                   
                                    <div class="desti_icon">
                                        <img src="https://clubliberty.in/asset/img/icons/location1.png">
                                        <p>Agra</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="listingItem ahmedabad">
                      <a href="£" class="listingItemImg">
                
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/GANDHI_ASHRAM_03.jpg/800px-GANDHI_ASHRAM_03.jpg">
                        </a>
                      <div class="listingItemContent">
                            <h4><a href="https://en.wikipedia.org/wiki/Sabarmati_Ashram">Sabarmati asharma Ahmedabad</a></h4>
                         <p></p>
                            <p>Sabarmati Ashram is located in the Sabarmati suburb of Ahmedabad, Gujarat, adjoining the Ashram Road, on the banks of the River Sabarmati, 4 miles (6.4 km) from the town hall. This was one of the many residences of Mahatma Gandhi who lived at Sabarmati (Gujarat) and Sevagram (Wardha, Maharashtra) when he was not travelling across India or in prison.[1] He lived in Sabarmati or Wardha for a total of twelve years with his wife Kasturba Gandhi and followers, including Vinoba Bhave. The Bhagavad Gita was recited here daily as part of the Ashram schedule.</p>
                         <a href="https://clubliberty.in/resort/sarovar-premiere-jaipur" class="re_more">Read More</a>
                         <div class="detailsEnclude">
                            <h6>Services Provided</h6>
                            <div class="desti_icon_main">
                               <div class="desti_icon">
                                  <img src="https://clubliberty.in/asset/img/icons/bad.png">
                                  <p>Hotel</p>
                               </div>
                             
                               
                               <div class="desti_icon">
                                  <img src="https://clubliberty.in/asset/img/icons/location1.png">
                                  <p>Ahmedabad</p>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="listingItem ajmer">
                      <a href="" class="listingItemImg">
                 
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Anasagar_Lake%2C_Ajmer.JPG/800px-Anasagar_Lake%2C_Ajmer.JPG">
                        </a>
                      <div class="listingItemContent">
                         <h4><a href="https://clubliberty.in/resort/hotel-royal-orchid-jaipur">Ajmer </a></h4>
                         <p></p>
                            <p>Ajmer  is a city in the north-western Indian state of Rajasthan.[5] It serves as the administrative headquarters of the Ajmer district and Ajmer division. It lies at the centre of Rajasthan, earning it the nickname the Heart of Rajasthan</p>
                         <a href="https://clubliberty.in/resort/hotel-royal-orchid-jaipur" class="re_more">Read More</a>
                         <div class="detailsEnclude">
                            <h6>Servies provided</h6>
                            <div class="desti_icon_main">
                               <div class="desti_icon">
                                  <img src="https://clubliberty.in/asset/img/icons/bad.png">
                                  <p>Hotel</p>
                               </div>
                              
                              
                               <div class="desti_icon">
                                  <img src="https://clubliberty.in/asset/img/icons/location1.png">
                                  <p>Ajmer</p>
                               </div>
                            </div>
                         </div>
                      </div>
                    </div> <div class="listingItem amritsar">
                        <a href="" class="listingItemImg">

                            <img src="https://images.unsplash.com/photo-1514222134-b57cbb8ce073?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                        </a>
                        <div class="listingItemContent">
                            <h4><a href="https://clubliberty.in/resort/royal-orchid-central-jaipur">Amritsar</a></h4>
                            <p></p>
                            <p>Amritsar,[a] also known as Ambarsar,[b] is the second-largest city in the Indian state of Punjab, after Ludhiana. Located in the Majha region, it is a major cultural, transportation and economic centre. The city is the administrative headquarters of the Amritsar district. It is situated 217 km (135 mi) north-west of Chandigarh, and 455 km (283 mi) north-west of New Delhi. It is 28 km (17.4 mi) from the India-Pakistan border, and 47 km (29 mi) north-east of Lahore, Pakistan.</p>

                            <a href="https://clubliberty.in/resort/royal-orchid-central-jaipur" class="re_more">Read More</a>
                            <div class="detailsEnclude">
                                <h6>Servies provided</h6>
                                <div class="desti_icon_main">
                                    <div class="desti_icon">
                                        <img src="https://clubliberty.in/asset/img/icons/bad.png">
                                        <p>Hotel</p>
                                    </div>
                                  
                                   
                                    <div class="desti_icon">
                                        <img src="https://clubliberty.in/asset/img/icons/location1.png">
                                        <p>Amritsar</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="listingItem bhimtal">
                      <a href="" class="listingItemImg">
               
                            <img src="https://lh3.googleusercontent.com/gps-cs-s/AC9h4nr-prU4YpH2v52vaPIaN687WM2FL4GyRNKKjy5Hy7-d-SJaWFnekDaB75PhHx2zHGY8TxBrEwHDFc4V_JlHwZD-hpnTZVvWUIXQrae0uzJcMsWSauZxzXY9VspOVKARKshzlfPd=s680-w680-h510-rw">
                        </a>
                      <div class="listingItemContent">
                         <h4><a href="https://clubliberty.in/resort/royal-orchid-central-jaipur">Bhimtal</a></h4>
                         <p></p>
                            <p>Bhimtal is a popular lake town located in the Nainital district of Uttarakhand, India. Situated at an altitude of 1370 meters above sea level, it's known for its serene beauty and less crowded atmosphere compared to the bustling hill station of Nainital. The town is named after Bhima, a prominent figure from the Mahabharata, as legend suggests that the Bhimtal Lake was created by him</p>
                         
                         <a href="https://clubliberty.in/resort/royal-orchid-central-jaipur" class="re_more">Read More</a>
                         <div class="detailsEnclude">
                                <h6>Servies provided</h6>
                            <div class="desti_icon_main">
                               <div class="desti_icon">
                                  <img src="https://clubliberty.in/asset/img/icons/bad.png">
                                  <p>Hotel</p>
                               </div>
                             
                             
                               <div class="desti_icon">
                                  <img src="https://clubliberty.in/asset/img/icons/location1.png">
                                  <p>Jaipur</p>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="listingItem bhopal">
                      <a href="https://clubliberty.in/resort/regenta-central-jal-mahal-jaipur-" class="listingItemImg">
                
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Boats_in_Upper_Lake%2C_Bhopal.JPG/800px-Boats_in_Upper_Lake%2C_Bhopal.JPG">
                        </a>
                      <div class="listingItemContent">
                         <h4><a href="https://clubliberty.in/resort/regenta-central-jal-mahal-jaipur-">Bhopal</a></h4>
                         <p></p>
                            <p>Bhopal (/boʊˈpɑːl/; ISO: Bhōpāl, Hindi: [bʱoːpaːl] ⓘ) is the capital city of the Indian state of Madhya Pradesh and the administrative headquarters of both Bhopal district and Bhopal division.[10] It is known as the City of Lakes,[11] due to presence of various natural and artificial lakes near the city boundary. It is also one of the greenest cities in India</p>
                         <a href="https://clubliberty.in/resort/regenta-central-jal-mahal-jaipur-" class="re_more">Read More</a>
                         <div class="detailsEnclude">
                            <h6>Services Provided</h6>
                            <div class="desti_icon_main">
                               <div class="desti_icon">
                                  <img src="https://clubliberty.in/asset/img/icons/bad.png">
                                  <p>Hotel</p>
                               </div>
                              
                             
                               <div class="desti_icon">
                                  <img src="https://clubliberty.in/asset/img/icons/location1.png">
                                  <p>bhopal</p>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="listingItem delhi">
                      <a href="https://clubliberty.in/resort/welcome-heritage-traditional-haveli" class="listingItemImg">
                 
                            <img src="https://images.unsplash.com/photo-1705524220998-4b4b51bd12f6?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                        </a>
                      <div class="listingItemContent">
                         <h4><a href="https://clubliberty.in/resort/welcome-heritage-traditional-haveli">Red Fort</a></h4>
                            <p>The Red Fort, also known as Lal Qila (Hindustani: [laːl qɪlaː]) is a historic Mughal fort in Delhi, India, that served as the primary residence of the Mughal emperors. Emperor Shah Jahan commissioned the construction of the Red Fort on 12 May 1639, following his decision to relocate the Mughal capital from Agra to Delhi. Originally adorned in red and white, the fort's design is attributed to Ustad Ahmad Lahori…</p>
                         <a href="https://clubliberty.in/resort/welcome-heritage-traditional-haveli" class="re_more">Read More</a>
                         <div class="detailsEnclude">
                            <h6>Services Provided</h6>
                            <div class="desti_icon_main">
                               <div class="desti_icon">
                                  <img src="https://clubliberty.in/asset/img/icons/bad.png">
                                  <p>Hotel</p>
                               </div>
                            
                               <div class="desti_icon">
                                  <img src="https://clubliberty.in/asset/img/icons/location1.png">
                                  <p>Delhi</p>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="listingItem darjeeling">
                      <a href="https://clubliberty.in/resort/ramada-jaipur-rajasthan" class="listingItemImg">
                 
                            <img src="https://images.unsplash.com/photo-1698753864905-a447aa362ec9?q=80&w=465&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                        </a>
                      <div class="listingItemContent">
                         <h4><a href="https://clubliberty.in/resort/ramada-jaipur-rajasthan">Darjeeling</a></h4>
                            <p>Darjeeling is a town in India's West Bengal state, in the Himalayan foothills. Once a summer resort for the British Raj elite, it remains the terminus of the narrow-gauge Darjeeling Himalayan Railway, or “Toy Train,” completed in 1881. It's famed for the distinctive black tea grown on plantations that dot its surrounding slopes. Its backdrop is Mt. Kanchenjunga, among the world’s highest peaks…</p>
                         <a href="https://clubliberty.in/resort/ramada-jaipur-rajasthan" class="re_more">Read More</a>
                         <div class="detailsEnclude">
                            <h6>Services Provided</h6>
                            <div class="desti_icon_main">
                               <div class="desti_icon">
                                  <img src="https://clubliberty.in/asset/img/icons/bad.png">
                                  <p>Hotel</p>
                              
                             
                               <div class="desti_icon">
                                  <img src="https://clubliberty.in/asset/img/icons/location1.png">
                                  <p>Darjeeling</p>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                @*    <div class="pagination-wrapper">
                      <ul class="pagination">
                         <li><a href="#" class="paginate current" id="1">1</a></li>
                         <li><a href="#" class="paginate " id="2">2</a></li>
                         <li><a href="#" class="paginate " id="3">3</a></li>
                         <li><a href="#" class="paginate " id="4">4</a></li>
                         <li><a href="#" class="paginate " id="5">5</a></li>
                         <li><a href="#" class="paginate " id="6">6</a></li>
                         <li><a href="#" class="paginate " id="7">7</a></li>
                         <li><a href="#" class="paginate " id="8">8</a></li>
                         <li><a href="#" class="paginate " id="9">9</a></li>
                  </ul>
                   </div> *@
            </div>

            <div>
                <div class="sidebar-widget category-widget make-me-sticky">
                    <div class="widget-title">
                        <h3>City</h3>
                    </div>
                    <div class="widget-content">
                        <ul class="category-list">
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city22" value="agra"  onchange="filterSelection()">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Agra</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city52" value="52" onchange="filterSelection()">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Ahmedabad</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city205" value="205" onchange="filterSelection()">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Ajmer</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city37" value="37">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Alleppey</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city51" value="51">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Amritsar</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city101" value="101">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Auli</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city195" value="195">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Aurangabad</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city7" value="7">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Bengaluru</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city144" value="144">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Bhimtal</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city220" value="220">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Bhopal</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city94" value="94">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Bhubaneswar</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city54" value="54">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Chandigarh</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city53" value="53">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Chennai</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city218" value="218">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Cherrapunji</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city139" value="139">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Coimbatore</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city114" value="114">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Coorg</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city211" value="211">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Dalhousie</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city84" value="84">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Darjeeling</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city55" value="55">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Dehradun</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city92" value="92">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Delhi</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city245" value="245">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Dharamshala</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city202" value="202">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Dwarka</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city56" value="56">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Gangtok</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city208" value="208">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Ghaziabad</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city30" value="30">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Goa</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city93" value="93">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Gurugram</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city97" value="97">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Gwalior</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city190" value="190">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Hampi</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city57" value="57">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Haridwar</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city170" value="170">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Havelock</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city180" value="180">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Himachal Pradesh</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city58" value="58">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Hyderabad</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city196" value="196">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Igatpuri</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city86" value="86">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Indore</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city24" value="24">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Jaipur</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city26" value="26">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Jaisalmer</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city209" value="209">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Jalandhar</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city215" value="215">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Jammu</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city87" value="87">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Jim Corbett</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city61" value="61">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Jodhpur</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city155" value="155">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Karnataka</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city212" value="212">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kasauli</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city183" value="183">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kashmir</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city111" value="111">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Katra</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city131" value="131">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kerala</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city38" value="38">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kochi</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city120" value="120">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kodaikanal</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city252" value="252">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kolhapur</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city76" value="76">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kolkata</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city35" value="35">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kovalam</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city115" value="115">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kufri</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city63" value="63">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Lonavala</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city65" value="65">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Lucknow</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city66" value="66">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Ludhiana</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city149" value="149">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Madurai</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city88" value="88">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Mahabaleshwar</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city32" value="32">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Manali</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city193" value="193">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Mangalore</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city113" value="113">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Mathura</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city27" value="27">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Mount Abu</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city68" value="68">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Mumbai</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city34" value="34">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Munnar</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city83" value="83">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Mussoorie</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city89" value="89">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Mysore</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city99" value="99">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Nainital</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city197" value="197">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Nashik</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city103" value="103">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Neemrana</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city221" value="221">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Neil Island</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city207" value="207">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Noida</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city85" value="85">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Ooty</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city213" value="213">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Pahalgam</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city169" value="169">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Patna</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city217" value="217">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Pelling</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city69" value="69">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Poovar Island</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city77" value="77">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Port Blair</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city71" value="71">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Puducherry</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city70" value="70">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Pune</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city166" value="166">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Puri</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city108" value="108">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Pushkar</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city163" value="163">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Rajasthan</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city167" value="167">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Rameswaram</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city90" value="90">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Ranthambore</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city91" value="91">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Rishikesh</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city28" value="28">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Sariska</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city179" value="179">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Shillong</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city67" value="67">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Shimla</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city112" value="112">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Shirdi</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city216" value="216">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Siliguri</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city251" value="251">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Silvassa</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city203" value="203">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Somnath</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city214" value="214">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Sonmarg</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city72" value="72">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Srinagar</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city147" value="147">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Surat</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city156" value="156">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Tamil Nadu</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city48" value="48">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Thekkady</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city175" value="175">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Tirupati</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city75" value="75">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Trivandrum</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city31" value="31">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Udaipur</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city201" value="201">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Vadodara</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city140" value="140">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Varanasi</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city200" value="200">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Vijayawada</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city171" value="171">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Visakhapatnam</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city206" value="206">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Vrindavan</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city135" value="135">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Wayanad</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city176" value="176">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Yercaud</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</section>
@section Scripts{
        
    <script>
              function filterSelection() {
        var checkboxes = document.querySelectorAll('.cities');
        var selectedValues = [];

        // Collect selected checkbox values
        checkboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                selectedValues.push(checkbox.value);
            }
        });

        // Debugging: Log the selected values to the console
        console.log("Selected Values:", selectedValues);

        var images = document.getElementsByClassName("listingItem");
          

        console.log(images,'x')
        // Hide all images first
       for (var i = 0; i < images.length; i++) {

           console.log(images[i].classList)
       images[i].style.visibility = "hidden";
    }

        // Show images that match selected values
        if (selectedValues.length === 0) {
        for (var i = 0; i < images.length; i++) {
            images[i].style.display = "visible"; // Show all images
        }
        return; // Exit the function
    }

        for (var i = 0; i < images.length; i++) {
            for (var j = 0; j < selectedValues.length; j++) {
                if (images[i].classList.contains(selectedValues[j])) {
                images[i].style.visibility = "visible";
            }
            }
        }
    }

    // Show filtered elements
    function w3AddClass(element, name) {
        var arr1 = element.className.split(" ");
        if (arr1.indexOf(name) == -1) {
            element.className += " " + name;
        }
    }

    // Hide elements that are not selected
    function w3RemoveClass(element, name) {
        var arr1 = element.className.split(" ");
        while (arr1.indexOf(name) > -1) {
            arr1.splice(arr1.indexOf(name), 1);
        }
        element.className = arr1.join(" ");
    }

    </script>

<script type="text/javascript">

    // $(document).ready(function(){

    //     filter_data();

    //     function filter_data(page_no) {

    //         // $('.loader-cart').show();
    //         var cities_arr = get_cities();
    //         var category = 'domestic';

    //          $.ajax({
    //             url:'https://www.clubliberty.in/home/get_resorts',
    //             method:"POST",
    //             data:{cities_arr:cities_arr, page_no:page_no, category:category},
    //             success:function(data){
    //              // alert(data);
    //              // $('.loader-cart').hide();
    //                 $('#filtered_data').html(data);
    //             }
    //         });
    //     }

    //     function get_cities() {
    //         var arr = [];
    //         $('.cities:checked').each(function(){
    //             arr.push($(this).val());
    //         });
    //         return arr;
    //     }

    //     $('.cities').click(function(){
    //         filter_data();
    //     });

    //     $(document).on('click','a.paginate', function(e){
    //         e.preventDefault();
    //         var page_id = $(this).attr('id');
    //         filter_data(page_id);
    //     });

    // });

</script>
}