@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Styles
{
    <link rel="stylesheet" type="text/css" href="#~/destination/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="#~/destination/css/fancybox.min.css">
    <link rel="stylesheet" type="text/css" href="#~/destination/css/main.css">
    <link rel="stylesheet" type="text/css" href="#~/destination/css/responsive.css">






}
<section class="pageBanner">
    <img src="https://images.unsplash.com/photo-1597074866202-b71868f8ec6d?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
    <div class="pageBannerInner">
        <div class="container">
            <h2>DOMESTIC  DESTINATION</h2>
        </div>
    </div>
</section>





<section class="mainDestination travelBgWithOutpd">
    <div class="container">
        <!-- <div class="secTitle textCenter">
           <span>Results For</span>
           <h2>Agra</h2>
           </div> -->
        <div class="destinationListOuterWrapper">
            <div id="filtered_data">
                <div class="destinationListOuter" id="destinationListOuter">
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination" id="paginationControls">
                        <li class="page-item disabled" id="prevPage">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <!-- Page numbers will be inserted here by JavaScript -->
                        <li class="page-item" id="nextPage">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>


                <div class="pagination">
                    <button id="prevBtn" onclick="changePage(-1)">Previous</button>
                    <span id="pageInfo"></span>
                    <button id="nextBtn" onclick="changePage(1)">Next</button>
                </div>
            </div>

            <div>
                <div class="sidebar-widget category-widget make-me-sticky">
                    <div class="widget-title">
                        <h3>City</h3>
                    </div>
                    <div class="widget-content">
                        <ul class="category-list">
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city22" value="22">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Agra</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city52" value="52">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Ahmedabad</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city205" value="205">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Ajmer</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city37" value="37">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Alleppey</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city51" value="51">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Amritsar</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city256" value="256">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Andhra Pradesh</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city101" value="101">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Auli</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city195" value="195">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Aurangabad</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city7" value="7">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Bengaluru</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city144" value="144">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Bhimtal</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city220" value="220">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Bhopal</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city94" value="94">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Bhubaneswar</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city54" value="54">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Chandigarh</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city53" value="53">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Chennai</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city218" value="218">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Cherrapunji</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city139" value="139">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Coimbatore</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city114" value="114">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Coorg</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city211" value="211">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Dalhousie</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city84" value="84">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Darjeeling</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city55" value="55">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Dehradun</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city92" value="92">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Delhi</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city245" value="245">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Dharamshala</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city202" value="202">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Dwarka</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city56" value="56">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Gangtok</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city208" value="208">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Ghaziabad</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city30" value="30">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Goa</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city93" value="93">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Gurugram</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city97" value="97">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Gwalior</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city190" value="190">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Hampi</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city57" value="57">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Haridwar</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city170" value="170">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Havelock</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city180" value="180">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Himachal Pradesh</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city58" value="58">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Hyderabad</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city196" value="196">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Igatpuri</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city86" value="86">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Indore</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city24" value="24">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Jaipur</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city26" value="26">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Jaisalmer</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city209" value="209">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Jalandhar</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city215" value="215">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Jammu</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city87" value="87">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Jim Corbett</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city61" value="61">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Jodhpur</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city155" value="155">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Karnataka</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city212" value="212">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kasauli</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city183" value="183">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kashmir</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city111" value="111">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Katra</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city131" value="131">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kerala</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city38" value="38">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kochi</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city120" value="120">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kodaikanal</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city252" value="252">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kolhapur</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city76" value="76">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kolkata</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city35" value="35">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kovalam</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city115" value="115">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kufri</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city63" value="63">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Lonavala</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city65" value="65">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Lucknow</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city66" value="66">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Ludhiana</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city149" value="149">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Madurai</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city88" value="88">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Mahabaleshwar</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city32" value="32">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Manali</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city193" value="193">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Mangalore</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city113" value="113">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Mathura</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city27" value="27">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Mount Abu</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city68" value="68">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Mumbai</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city34" value="34">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Munnar</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city83" value="83">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Mussoorie</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city89" value="89">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Mysore</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city99" value="99">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Nainital</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city197" value="197">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Nashik</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city103" value="103">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Neemrana</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city221" value="221">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Neil Island</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city207" value="207">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Noida</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city85" value="85">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Ooty</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city213" value="213">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Pahalgam</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city169" value="169">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Patna</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city217" value="217">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Pelling</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city69" value="69">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Poovar Island</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city77" value="77">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Port Blair</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city71" value="71">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Puducherry</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city70" value="70">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Pune</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city166" value="166">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Puri</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city108" value="108">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Pushkar</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city163" value="163">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Rajasthan</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city167" value="167">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Rameswaram</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city90" value="90">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Ranthambore</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city91" value="91">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Rishikesh</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city28" value="28">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Sariska</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city179" value="179">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Shillong</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city67" value="67">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Shimla</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city112" value="112">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Shirdi</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city216" value="216">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Siliguri</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city251" value="251">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Silvassa</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city203" value="203">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Somnath</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city214" value="214">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Sonmarg</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city72" value="72">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Srinagar</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city147" value="147">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Surat</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city156" value="156">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Tamil Nadu</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city48" value="48">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Thekkady</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city175" value="175">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Tirupati</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city75" value="75">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Trivandrum</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city31" value="31">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Udaipur</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city201" value="201">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Vadodara</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city140" value="140">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Varanasi</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city200" value="200">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Vijayawada</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city171" value="171">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Visakhapatnam</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city206" value="206">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Vrindavan</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city135" value="135">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Wayanad</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city176" value="176">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Yercaud</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{


    <script>
        // Array of city objects with names and image URLs
        const cities = [
            { name: "Bhopal", image: "https://images.unsplash.com/photo-1608213189166-b099855aee3c?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Delhi", image: "https://images.unsplash.com/photo-1587474260584-136574528ed5?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Mumbai", image: "https://images.unsplash.com/photo-1562979314-bee7453e911c?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Kolkata", image: "https://images.unsplash.com/photo-1496372412473-e8548ffd82bc?q=80&w=1314&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Chennai", image: "https://images.unsplash.com/photo-1563715493579-e0b3e0493b60?q=80&w=861&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Bangalore", image: "https://plus.unsplash.com/premium_photo-1697729434815-40ab4970ebc1?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Hyderabad", image: "https://images.unsplash.com/photo-1551161242-b5af797b7233?q=80&w=1151&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Ahmedabad", image: "https://images.unsplash.com/photo-1700170554599-50c74065ecdd?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Pune", image: "https://images.unsplash.com/photo-1618805714320-f8825019c1be?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Jaipur", image: "https://images.unsplash.com/photo-1603262110263-fb0112e7cc33?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Surat", image: "https://images.unsplash.com/photo-1625309242986-aec6b5fd1cca?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Lucknow", image: "https://images.unsplash.com/photo-1628477160043-3f6b3ad54f61?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Kanpur", image: "https://images.unsplash.com/photo-1706440512280-3c33388d5f90?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Nagpur", image: "https://plus.unsplash.com/premium_photo-1694475439235-0a0306a7477b?q=80&w=1194&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Visakhapatnam", image: "https://plus.unsplash.com/premium_photo-1694475205503-d6c6a71f03bc?q=80&w=1201&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Indore", image: "https://images.unsplash.com/photo-1659951345409-b517e77edbc9?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },

            { name: "Coimbatore", image: "https://images.unsplash.com/photo-1561006289-4fe1a09bf743?q=80&w=1760&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Patna", image: "https://plus.unsplash.com/premium_photo-1697729725856-05c3e7aeec30?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Vadodara", image: "https://images.unsplash.com/photo-1646344446634-88c891847721?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Agra", image: "https://images.unsplash.com/photo-1555099101-3766220a07ae?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },






            { name: "Varanasi", image: "https://images.unsplash.com/photo-1646578507841-e805ed4e6c40?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Srinagar", image: "https://images.unsplash.com/photo-1595815771614-ade9d652a65d?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            // { name: "Aurangabad", image: "https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.1.0" },
            // { name: "Dhanbad", image: "https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.1.0" },
            { name: "Amritsar", image: "https://plus.unsplash.com/premium_photo-1697730324062-c012bc98eb13?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            // { name: "Navi Mumbai", image: "https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.1.0" },
            { name: "Allahabad", image: "https://images.unsplash.com/photo-1601750059072-b0faf504853e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            // { name: "Ranchi", image: "https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.1.0" },
            { name: "Mysore", image: "https://plus.unsplash.com/premium_photo-1661904165347-369200d4bf72?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            // { name: "Gurgaon", image: "https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.1.0" },
            { name: "Jodhpur", image: "https://images.unsplash.com/photo-1569096610945-1a094be04c74?q=80&w=2030&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            // { name: "Bhubaneswar", image: "https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.1.0" },
            // { name: "Salem", image: "https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.1.0" },
            // { name: "Warangal", image: "https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.1.0" },
            // { name: "Mangalore", image: "https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.1.0" },
            { name: "Gwalior", image: "https://images.unsplash.com/photo-1694796776411-7db66664b47e?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Jabalpur", image: "https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.1.0" },
            { name: "Raipur", image: "https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.1.0" },
            { name: "Kota", image: "https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.1.0" },
            { name: "Udaipur", image: "https://upload.wikimedia.org/wikipedia/commons/6/6f/Evening_view%2C_City_Palace%2C_Udaipur.jpg" },
            { name: "Dehradun", image: "https://images.unsplash.com/photo-1606586593596-5308e16d0a48?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Siliguri", image: "https://images.unsplash.com/photo-1576557714452-86d2258b4ced?q=80&w=677&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
            { name: "Durgapur", image: "https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.1.0" },
            { name: "Bikaner", image: "https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.1.0" },
            { name: "Jamshedpur", image: "https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.1.0" }
        ];

        const itemsPerPage = 8; // Number of cities to display per page
        let currentPage = 1; // Current page number

        // Function to create city listings
        function createCityListings() {
            const container = document.getElementById('destinationListOuter'); // Container for city listings
            container.innerHTML = ''; // Clear previous listings

            // Calculate start and end index for the current page
            const startIndex = (currentPage - 1) * itemsPerPage;
            const endIndex = Math.min(startIndex + itemsPerPage, cities.length);

            // Create listings for the current page
            for (let i = startIndex; i < endIndex; i++) {
                const city = cities[i];
                const cityDiv = document.createElement('div');
                cityDiv.className = 'listingItem';

                cityDiv.innerHTML = `
                    <a href="#" class="listingItemImg">
                        <img src="${city.image}" alt="${city.name}">
                    </a>
                    <div class="listingItemContent">
                       
                        <div class="detailsEnclude">
                            <h6>Services Provided</h6>
                            <div class="desti_icon_main">
                                <div class="desti_icon">
                                    <img src="https://clubliberty.in/asset/img/icons/bad.png" alt="Hotel Icon">
                                    <p>Hotel</p>
                                </div>
                                <div class="desti_icon">
                                    <img src="https://clubliberty.in/asset/img/icons/location1.png" alt="Location Icon">
                                    <p>${city.name}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                `;

                container.appendChild(cityDiv);
            }

            // Update page info
            document.getElementById('pageInfo').innerText = `Page ${currentPage} of ${Math.ceil(cities.length / itemsPerPage)}`;

            // Disable buttons if on the first or last page
            document.getElementById('prevBtn').disabled = currentPage === 1;
            document.getElementById('nextBtn').disabled = currentPage === Math.ceil(cities.length / itemsPerPage);
        }

        // Function to
        function changePage(direction) {
            currentPage += direction;
            createCityListings();
        }
        // Initial call to display the first page
        createCityListings();
    </script>


}