<section class="mainBanner">
    <div class="banner_wrapper">
        <div class="owl-carousel owl-theme mainBannerCarousel">
            <div class="item">
                <video autoplay="" muted="" playsinline="" loop="">
                    <source src="media/Liberty_Vacations_International.mp4" type="video/mp4">
                </video>
            </div>
            <div class="item">
                <img src="~/~/images/banner1.jpg">
            </div>
            <div class="item">
                <img src="~/~/images/banner2.jpg">
            </div>
            <div class="item">
                <img src="~/~/images/banner3.jpg">
            </div>
            <div class="item">
                <img src="~/~/images/banner4.jpg">
            </div>
        </div>
        <div class="banner_content">
            <span class="subheading">Let's travel the world with us</span>
            <h1>Explore The World With <span class="strokeText">Liberty Vacations International</span></h1>
        </div>
    </div>
</section>

<!-- Mobile Banner -->
<section class="mobileBanner">
    <div class="banner_wrapper">
        <div class="owl-carousel owl-theme mainBannerCarousel">
            <video class="mobileVideo" autoplay="" muted="" playsinline="" loop="">
                <source src="media/Liberty_Vacations_International.mp4" type="video/mp4">
            </video>
            <div class="mobileVideo">
                <img src="~/~/images/banner1.jpg">
            </div>
            <div class="mobileVideo">
                <img src="~/~/images/banner2.jpg">
            </div>
            <div class="mobileVideo">
                <img src="~/~/images/banner3.jpg">
            </div>
            <div class="mobileVideo">
                <img src="~/~/images/banner4.jpg">
            </div>
        </div>
        <div class="mobile_banner_content">
            <span class="mobile_subheading">Let's travel the world with us</span>
            <h1>Explore The World With <span class="mobileStrokeText">Liberty Vacations International</span></h1>
        </div>
    </div>

</section>

<section class="aboutHome">
    <div class="container">
        <div class="aboutInner">
            <div>
                <div class="secTitle">
                    <span>Tour and travels</span>
                    <h2>Welcome to Haven Club And  Resorts Private Limited</h2>
                </div>
                <p>
                    Founded in 2022, Haven Club And Resorts Private Limited is revolutionizing the travel landscape with a focus on personalized service and exceptional hospitality. Our guiding principle, "Discover the world with us!", reflects our commitment to crafting unforgettable experiences for our guests.

                    We present our clients with an extensive selection of both domestic and international destinations. Our resort offerings range from breathtaking mountain retreats to peaceful beachfront getaways, and from captivating desert landscapes to serene lakeside escapes.
                </p>
                <a href="https://www.clubliberty.in/about-us" class="primary-btn">About Us</a>
            </div>
            <div>
                <img src="~/~/images/image1_bg.png">
            </div>
        </div>
    </div>
</section>
<section class="destinationIndia travelBg destination_sec">
    <div class="container">
        <div class="secTitle textCenter">
            <span>Choose your place</span>
            <h2>Destinations in India</h2>
        </div>
        <div class="indiaDestination destination owl-carousel">
            <div class="item">
                <a href="https://www.clubliberty.in/bengaluru/resorts/">
                    <img src="~/~/images/1690549097desti.jpg" alt="Bengaluru">
                    <!-- <img src="https://www.clubliberty.in/admin/~/~/images/destination/1690546081desti.jpg"> -->
                </a>
                <div class="destinationContent">
                    <h2><a href="https://www.clubliberty.in/bengaluru/resorts/">Bengaluru</a></h2>
                    <ul>
                        <li><img src="~/~/images/sleeping.png"></li>
                        <li><img src="~/~/images/car.png"></li>
                        <li><img src="~/~/images/travel-bag.png"></li>
                        <li><img src="~/~/images/target.png"></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <a href="https://www.clubliberty.in/agra/resorts/">
                    <img src="~/~/images/1690546081desti.jpg" alt="Agra">
                    <!-- <img src="https://www.clubliberty.in/admin/~/~/images/destination/1690546081desti.jpg"> -->
                </a>
                <div class="destinationContent">
                    <h2><a href="https://www.clubliberty.in/agra/resorts/">Agra</a></h2>
                    <ul>
                        <li><img src="~/~/images/sleeping.png"></li>
                        <li><img src="~/~/images/car.png"></li>
                        <li><img src="~/~/images/travel-bag.png"></li>
                        <li><img src="~/~/images/target.png"></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <a href="https://www.clubliberty.in/jaipur/resorts/">
                    <img src="~/~/images/1690549225desti.jpg" alt="Jaipur">
                    <!-- <img src="https://www.clubliberty.in/admin/~/~/images/destination/1690546081desti.jpg"> -->
                </a>
                <div class="destinationContent">
                    <h2><a href="https://www.clubliberty.in/jaipur/resorts/">Jaipur</a></h2>
                    <ul>
                        <li><img src="~/~/images/sleeping.png"></li>
                        <li><img src="~/~/images/car.png"></li>
                        <li><img src="~/~/images/travel-bag.png"></li>
                        <li><img src="~/~/images/target.png"></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <a href="https://www.clubliberty.in/goa/resorts/">
                    <img src="~/~/images/1690549030desti.jpg" alt="Goa">
                    <!-- <img src="https://www.clubliberty.in/admin/~/~/images/destination/1690546081desti.jpg"> -->
                </a>
                <div class="destinationContent">
                    <h2><a href="https://www.clubliberty.in/goa/resorts/">Goa</a></h2>
                    <ul>
                        <li><img src="~/~/images/sleeping.png"></li>
                        <li><img src="~/~/images/car.png"></li>
                        <li><img src="~/~/images/travel-bag.png"></li>
                        <li><img src="~/~/images/target.png"></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <a href="https://www.clubliberty.in/manali/resorts/">
                    <img src="~/~/images/1690549187desti.jpg" alt="Manali">
                    <!-- <img src="https://www.clubliberty.in/admin/~/~/images/destination/1690546081desti.jpg"> -->
                </a>
                <div class="destinationContent">
                    <h2><a href="https://www.clubliberty.in/manali/resorts/">Manali</a></h2>
                    <ul>
                        <li><img src="~/~/images/sleeping.png"></li>
                        <li><img src="~/~/images/car.png"></li>
                        <li><img src="~/~/images/travel-bag.png"></li>
                        <li><img src="~/~/images/target.png"></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="item">
               <img src="asset/img/srinagar.jpeg">
               <div class="destinationContent">
                  <h2><a href="#">Srinagar</a></h2>
                  <ul>
                     <li><img src="asset/img/icons/sleeping.png"></li>
                     <li><img src="asset/img/icons/car.png"></li>
                     <li><img src="asset/img/icons/travel-bag.png"></li>
                     <li><img src="asset/img/icons/target.png"></li>
                  </ul>
               </div>
            </div>
            <div class="item">
               <img src="asset/img/shimla.png">
               <div class="destinationContent">
                  <h2><a href="#">Shimla</a></h2>
                  <ul>
                     <li><img src="asset/img/icons/sleeping.png"></li>
                     <li><img src="asset/img/icons/car.png"></li>
                     <li><img src="asset/img/icons/travel-bag.png"></li>
                     <li><img src="asset/img/icons/target.png"></li>
                  </ul>
               </div>
            </div>
            <div class="item">
               <img src="asset/img/shimla.png">
               <div class="destinationContent">
                  <h2><a href="#">Shimla</a></h2>
                  <ul>
                     <li><img src="asset/img/icons/sleeping.png"></li>
                     <li><img src="asset/img/icons/car.png"></li>
                     <li><img src="asset/img/icons/travel-bag.png"></li>
                     <li><img src="asset/img/icons/target.png"></li>
                  </ul>
               </div>
            </div> -->
        </div>
    </div>
</section>
<section class="findBook">
    <div class="container">
        <div class="secTitle textCenter">
            <span>Tour and travels</span>
            <h2>Find & Book Your Trip</h2>
        </div>
        <div class="findBookInner">
            <div class="item">
                <div>
                    <img src="~/~/images/airoplane.png">
                </div>
                <h2 class="count percent" data-count="100">100+</h2>
                <p>Countries</p>
            </div>
            <div class="item">
                <div>
                    <img src="~/~/images/travel.png">
                </div>
                <h2 class="count percent" data-count="5000">5000+</h2>
                <p>Destinations</p>
            </div>
            <div class="item">
                <div>
                    <img src="~/~/images/beach.png">
                </div>
                <h2 class="count percent" data-count="1200">1200+</h2>
                <p>Vacation Options</p>
            </div>
        </div>
    </div>
</section>
<section class="destinationInter travelBg destination_sec">
    <div class="container">
        <div class="secTitle textCenter">
            <span>Deals & offers</span>
            <h2>International Destinations</h2>
        </div>
        <div class="internationalDestination destination owl-carousel ">
            <div class="item">
                <a href="https://www.clubliberty.in/dubai/resorts/">
                    <!-- <img src="https://www.clubliberty.in/admin/~/~/images/destination/1690549690desti.jpg"> -->
                    <img src="~/~/images/1690537735desti.jpg" alt="Dubai">
                </a>
                <div class="destinationContent">
                    <h2><a href="https://www.clubliberty.in/dubai/resorts/">Dubai</a></h2>
                    <ul>
                        <li><img src="~/~/images/sleeping.png"></li>
                        <li><img src="~/~/images/car.png"></li>
                        <li><img src="~/~/images/travel-bag.png"></li>
                        <li><img src="~/~/images/target.png"></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <a href="https://www.clubliberty.in/malaysia/resorts/">
                    <!-- <img src="https://www.clubliberty.in/admin/~/~/images/destination/1690549690desti.jpg"> -->
                    <img src="~/~/images/1690537983desti.jpg" alt="Malaysia">
                </a>
                <div class="destinationContent">
                    <h2><a href="https://www.clubliberty.in/malaysia/resorts/">Malaysia</a></h2>
                    <ul>
                        <li><img src="~/~/images/sleeping.png"></li>
                        <li><img src="~/~/images/car.png"></li>
                        <li><img src="~/~/images/travel-bag.png"></li>
                        <li><img src="~/~/images/target.png"></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <a href="https://www.clubliberty.in/pattaya/resorts/">
                    <!-- <img src="https://www.clubliberty.in/admin/~/~/images/destination/1690549690desti.jpg"> -->
                    <img src="~/~/images/1690549618desti.jpg" alt="Pattaya ">
                </a>
                <div class="destinationContent">
                    <h2><a href="https://www.clubliberty.in/pattaya/resorts/">Pattaya </a></h2>
                    <ul>
                        <li><img src="~/~/images/sleeping.png"></li>
                        <li><img src="~/~/images/car.png"></li>
                        <li><img src="~/~/images/travel-bag.png"></li>
                        <li><img src="~/~/images/target.png"></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <a href="https://www.clubliberty.in/bali/resorts/">
                    <!-- <img src="https://www.clubliberty.in/admin/~/~/images/destination/1690549690desti.jpg"> -->
                    <img src="~/~/images/1690549718desti.jpg" alt="Bali">
                </a>
                <div class="destinationContent">
                    <h2><a href="https://www.clubliberty.in/bali/resorts/">Bali</a></h2>
                    <ul>
                        <li><img src="~/~/images/sleeping.png"></li>
                        <li><img src="~/~/images/car.png"></li>
                        <li><img src="~/~/images/travel-bag.png"></li>
                        <li><img src="~/~/images/target.png"></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <a href="https://www.clubliberty.in/london/resorts/">
                    <!-- <img src="https://www.clubliberty.in/admin/~/~/images/destination/1690549690desti.jpg"> -->
                    <img src="~/~/images/1690549656desti.jpg" alt="London">
                </a>
                <div class="destinationContent">
                    <h2><a href="https://www.clubliberty.in/london/resorts/">London</a></h2>
                    <ul>
                        <li><img src="~/~/images/sleeping.png"></li>
                        <li><img src="~/~/images/car.png"></li>
                        <li><img src="~/~/images/travel-bag.png"></li>
                        <li><img src="~/~/images/target.png"></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <a href="https://www.clubliberty.in/paris/resorts/">
                    <!-- <img src="https://www.clubliberty.in/admin/~/~/images/destination/1690549690desti.jpg"> -->
                    <img src="~/~/images/1690549690desti.jpg" alt="Paris">
                </a>
                <div class="destinationContent">
                    <h2><a href="https://www.clubliberty.in/paris/resorts/">Paris</a></h2>
                    <ul>
                        <li><img src="~/~/images/sleeping.png"></li>
                        <li><img src="~/~/images/car.png"></li>
                        <li><img src="~/~/images/travel-bag.png"></li>
                        <li><img src="~/~/images/target.png"></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <a href="https://www.clubliberty.in/las-vegas/resorts/">
                    <!-- <img src="https://www.clubliberty.in/admin/~/~/images/destination/1690549690desti.jpg"> -->
                    <img src="~/~/images/1690549379desti.jpg" alt="Las Vegas">
                </a>
                <div class="destinationContent">
                    <h2><a href="https://www.clubliberty.in/las-vegas/resorts/">Las Vegas</a></h2>
                    <ul>
                        <li><img src="~/~/images/sleeping.png"></li>
                        <li><img src="~/~/images/car.png"></li>
                        <li><img src="~/~/images/travel-bag.png"></li>
                        <li><img src="~/~/images/target.png"></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <a href="https://www.clubliberty.in/los-angeles/resorts/">
                    <!-- <img src="https://www.clubliberty.in/admin/~/~/images/destination/1690549690desti.jpg"> -->
                    <img src="~/~/images/1690549750desti.jpg" alt="Los Angeles">
                </a>
                <div class="destinationContent">
                    <h2><a href="https://www.clubliberty.in/los-angeles/resorts/">Los Angeles</a></h2>
                    <ul>
                        <li><img src="~/~/images/sleeping.png"></li>
                        <li><img src="~/~/images/car.png"></li>
                        <li><img src="~/~/images/travel-bag.png"></li>
                        <li><img src="~/~/images/target.png"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="whyChooseUs">
    <div class="container">
        <div class="whyChooseUsInner">
            <div class="whyFirstCol">
                <div class="secTitle">
                    <span>Why choose us</span>
                    <h2 style="font-size: 35px;">Experience the finest in travel and comfort with Haven Club and Resorts Private Limited.</h2>
                </div>
                <p>At Haven Club and Resorts Private Limited, we're always here to assist you. Feel free to reach out to our customer care executives for any information or queries..</p>
                <a href="/contact-us" class="primary-btn">Book Now</a>
            </div>
            <div class="centerImg">
                <img src="~/~/images/image6-bg.png">
            </div>
            <div>
                <div class="whyItem">
                    <div class="icon">
                        <img src="~/~/images/diamond.png">
                    </div>
                    <div>
                        <h4>Lavishness</h4>
                        <p>Haven Club and Resorts Private Limited is dedicated to making your stay as luxurious and comfortable as possible. We take immense pride in offering rooms that promise the perfect blend of elegance and relaxation.</p>
                    </div>
                </div>
                <div class="whyItem">
                    <div class="icon">
                        <img src="~/~/images/wallet.png">
                    </div>
                    <div>
                        <h4>Affordable</h4>
                        <p>Haven Club and Resorts Private Limited is a favorite among travelers, offering unparalleled facilities and a relaxing stay at prices that are incredibly affordable.</p>
                    </div>
                </div>
                <div class="whyItem">
                    <div class="icon">
                        <img src="~/~/images/activties.png">
                    </div>
                    <div>
                        <h4>Activities</h4>
                        <p>Haven Club and Resorts Private Limited takes you on an exciting journey filled with exhilarating activities that leave you feeling refreshed, joyful, and completely rejuvenated.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<section class=" travelBg">-->
<!--   <div class="container">-->
<!--      <div class="secTitle textCenter">-->
<!--         <span>Journals</span>-->
<!--         <h2>Magazine & Brochure</h2>-->
<!--      </div>-->
<!--      <div class="magazineInner">-->
<!--         <div class="magazineItem">-->
<!--            <img src="https://www.clubliberty.in/asset/img/magazine1.jpeg">-->
<!--         </div>-->
<!--         <div class="magazineItem">-->
<!--            <img src="https://www.clubliberty.in/asset/img/magazine2.jpeg">-->
<!--         </div>-->
<!--         <div class="magazineItem">-->
<!--            <img src="https://www.clubliberty.in/asset/img/magazine3.jpeg">-->
<!--         </div>-->
<!--      </div>-->
<!--      <div class="magazineBtn">-->
<!--         <a href="#"><img src="https://www.clubliberty.in/asset/img/icons/preview.png"></a>-->
<!--         <a href="#" download="club_liberty_magazine.pdf"><img src="https://www.clubliberty.in/asset/img/icons/downloads.png"></a>-->
<!--      </div>-->
<!--   </div>-->
<!--</section>-->
<section class="travelPartners">
    <div class="container">
        <div class="secTitle textCenter">
            <span>Tour and travels</span>
            <h2>Our Travel Associates</h2>
        </div>
        <div class="travelPartnersInner owl-carousel ">
            <div class="item">
                <img src="~/~/images/1_1.jpeg">
            </div>
            <div class="item">
                <img src="~/~/images/2_1.jpeg">
            </div>
            <div class="item">
                <img src="~/~/images/3_1.jpeg">
            </div>
            <div class="item">
                <img src="~/~/images/4.jpeg">
            </div>
            <div class="item">
                <img src="~/~/images/5.jpeg">
            </div>
        </div>
    </div>
</section>
<!--<section class="preferredPartners">-->
<!--   <div class="container">-->
<!--      <div class="secTitle textCenter">-->
<!--         <span>Liberty Vacations International</span>-->
<!--         <h2>Our Media Associates</h2>-->
<!--      </div>-->
<!--      <div class="mediaPartnersInner">-->
<!--         <div class="item">-->
<!--            <img src="asset/img/mediaPartners/1.png">-->
<!--         </div>-->
<!--         <div class="item">-->
<!--            <img src="asset/img/mediaPartners/2.png">-->
<!--         </div>-->
<!--         <div class="item">-->
<!--            <img src="asset/img/mediaPartners/3.png">-->
<!--         </div>-->
<!--         <div class="item">-->
<!--            <img src="asset/img/mediaPartners/4.png">-->
<!--         </div>-->
<!--         <div class="item">-->
<!--            <img src="asset/img/mediaPartners/5.png">-->
<!--         </div>-->
<!--         <div class="item">-->
<!--            <img src="asset/img/mediaPartners/6.png">-->
<!--         </div>-->
<!--         <div class="item">-->
<!--            <img src="asset/img/mediaPartners/7.png">-->
<!--         </div>-->
<!--         <div class="item">-->
<!--            <img src="asset/img/mediaPartners/8.png">-->
<!--         </div>-->
<!--         <div class="item">-->
<!--            <img src="asset/img/mediaPartners/9.png">-->
<!--         </div>-->
<!--         <div class="item">-->
<!--            <img src="asset/img/mediaPartners/10.png">-->
<!--         </div>-->
<!--      </div>-->
<!--   </div>-->
<!--</section>-->
<section class="mediaPartners">
    <div class="container">
        <div class="secTitle textCenter">
            <span>Tour and travels</span>
            <h2>Our Preferred Associates</h2>
        </div>
        <div class="preferredPartnersInner owl-carousel ">
            <div class="item">
                <img src="~/~/images/1.jpeg">
            </div>
            <div class="item">
                <img src="~/~/images/2.jpeg">
            </div>
            <div class="item">
                <img src="~/~/images/3.jpeg">
            </div>
            <div class="item">
                <img src="~/~/images/4_1.jpeg">
            </div>
            <div class="item">
                <img src="~/~/images/5_1.jpeg">
            </div>
            <!--<div class="item">-->
            <!--   <img src="asset/img/preferredPartners/6.jpg">-->
            <!--</div>-->
        </div>
    </div>
</section>
<section class="unforgettableMain">
    <div class="container">
        <div class="unforgettable">
            <div>
                <div class="secTitle">
                    <span>Plan your stay with us</span>
                    <h2>Ready for an unforgettable stay?</h2>
                </div>
            </div>
            <div>
                <a href="#" class="btn">Book Your Stay Now</a>
            </div>
        </div>
    </div>
</section>
<section id="testim" class="testim">
    <div class="container">
        <div class="secTitle textCenter">
            <span>Travelers love our locals</span>
            <h2>Clients Review</h2>
        </div>
        <ul id="testim-dots" class="dots">
            <li class="dot active"></li>

            <li class="dot"></li>

            <li class="dot"></li>

            <li class="dot"></li>

            <li class="dot"></li>

            <li class="dot"></li>

            <li class="dot"></li>
        </ul>
        <div id="testim-content" class="cont">
            <div class="active testi-single">
                <div class="img">
                    <img src="https://www.clubliberty.in/uploads/web_feedback/1671547687.jpg" alt="Lucky Singh">
                    <!-- <img src="asset/img/review1.png" alt=""> -->
                </div>
                <div class="testi-content">
                    <h2>Lucky Singh</h2>
                    <p>It was a comfortable stay at red fox,our housekeeping boy Rupam was very helpful and kind.food was nice.we celebrate our wedding anniversary there,and travel executive Gaurav,thank you for making our day wonderful.</p>
                </div>
            </div>
            <div class="testi-single">
                <div class="img">
                    <img src="~/~/images/1671547447.jpg" alt="Rohit Prajapati">
                    <!-- <img src="asset/img/review1.png" alt=""> -->
                </div>
                <div class="testi-content">
                    <h2>Rohit Prajapati</h2>
                    <p>Awesome experience and nice trip Thanks a lot to Liberty Vacations International team for a nice arrangement and coordination. It is really very worthy. Thanks once again.</p>
                </div>
            </div>
            <div class="testi-single">
                <div class="img">
                    <img src="~/~/images/1671547069.jpg" alt="Balwant Chawla">
                    <!-- <img src="asset/img/review1.png" alt=""> -->
                </div>
                <div class="testi-content">
                    <h2>Balwant Chawla</h2>
                    <p>Thank you very much to sending us Heritage Village Resort & Spa,Manesar to enjoy a complimentary night stay. It was worth every moment. The room was very spacious,ambience wonderful & food excellent. We enjoyed and are keenly looking forward to our future trips to be managed by your company. All the best.</p>
                </div>
            </div>
            <div class="testi-single">
                <div class="img">
                    <img src="~/~/images/1671543174.jpg" alt="Naveen Gupta">
                    <!-- <img src="asset/img/review1.png" alt=""> -->
                </div>
                <div class="testi-content">
                    <h2>Naveen Gupta</h2>
                    <p>
                        It was awesome trip in Neemrana Fort Palace.
                        Got the trust for you now.
                        Thanks a lot.

                        Be Safe guys..
                    </p>
                </div>
            </div>
            <div class="testi-single">
                <div class="img">
                    <img src="~/~/images/1693641715.jpg" alt="Suguna Bhushan">
                    <!-- <img src="asset/img/review1.png" alt=""> -->
                </div>
                <div class="testi-content">
                    <h2>Suguna Bhushan</h2>
                    <p>
                        I had 5N/6D trip from Bangalore to Bangkok and Pattaya through Liberty Vacations International.
                        This was my first international holiday trip with family.
                        The hotels provided were great and good accessibility to tourist places.
                        I had also asked Liberty Vacations to help in trip itinerary, that was also well planned.
                        In short, I enjoyed the trip and waiting to have next soon 😊
                    </p>
                </div>
            </div>
            <div class="testi-single">
                <div class="img">
                    <img src="~/~/images/1693641810.jpg" alt="Somali Saha">
                    <!-- <img src="asset/img/review1.png" alt=""> -->
                </div>
                <div class="testi-content">
                    <h2>Somali Saha</h2>
                    <p>Had a wonderful family stay cation. Pn a weekend.looking fwd for more such experiences</p>
                </div>
            </div>
            <div class="testi-single">
                <div class="img">
                    <img src="~/~/images/1693642030.jpeg" alt="Vikash Daga">
                    <!-- <img src="asset/img/review1.png" alt=""> -->
                </div>
                <div class="testi-content">
                    <h2>Vikash Daga</h2>
                    <p>Till now our experience has been wonderful and we got good support from Vikash and Vishank. They arranged our stay at our selected 5 star property. We enjoyed shopping and casino during our stay at the property in Goa. Thanks to Liberty Vacations International.</p>
                </div>
            </div>

            <!-- <div class="testi-single">
               <div class="img">
                  <img src="asset/img/review1.png" alt="">
               </div>
               <div class="testi-content">
                  <h2>MR. ANIL POONIA</h2>
                  <p>Thanks to FORTUNE PARK VACATION. Recently visited Mussoorie Dhanoluti, stay was amazing with FPV special thanks to Mr Rehan, at Royal orchid fort resort at Mussoorie very near to mall road and on main  road big area with amazing views.</p>
               </div>
            </div>
            <div class="testi-single">
               <div class="img">
                  <img src="asset/img/review1.png" alt="">
               </div>
               <div class="testi-content">
                  <h2>MRS. ISHA NANDA</h2>
                  <p>We had been to Tijara Fort via Fortune Park Vacation Complimentary stay.The stay had been an experience for a life time.
                     It was Christmas eve and the entire fort was sizzling with Christmas celebration. Thanks Fortune Park Vacation for helping us with a wonderful experience.
                  </p>
               </div>
            </div>
            <div class="testi-single">
               <div class="img">
                  <img src="asset/img/review1.png" alt="">
               </div>
               <div class="testi-content">
                  <h2>MR. SHIVANG MISRA</h2>
                  <p>Very friendly staff with great understanding of the customer and provides a luxury holiday experience. They understand the need of the customer to provide good service and best hotels.</p>
               </div>
            </div> -->
        </div>
        <div class="testimonial-arrow">
            <span id="left-arrow" class="arrow left fa fa fa-angle-left">
                <img src="~/~/images/prev.png">
            </span>
            <span id="right-arrow" class="arrow right fa fa-angle-right">
                <img src="~/~/images/next.png">
            </span>
        </div>
    </div>
</section>
<!-- <section class="Blogs travelBg">
   <div class="container">
      <div class="blogsHead">
         <div class="secTitle">
            <span>Blogs</span>
            <h2>Our Blog</h2>
         </div>
         <a href="https://www.clubliberty.in/blogs" class="primary-btn">View More</a>
      </div>
      <div class="blogInner">
         <a href="blog-detail.php">
         <img src="asset/img/blog/1.jpeg">
         <span>Exploring India's Enchanting Snowfall Destinations...</span>
         </a>
         <a href="blog-detail.php">
         <img src="asset/img/blog/2.jpeg">
         <span>Uncovering Hidden Gems In Bangkok: Beyond The Tour...</span>
         </a>
         <a href="#">
         <img src="asset/img/blog/3.png">
         <span>Celebrating Independence Day In The Land Of Divers...</span>
         </a>
      </div>
   </div>
</section> -->
<!--<div class="starterPopup">
  <div class="starterPopupInner">
    <button class="close">x</button>
   <img src="asset/img/HappyHoli.jpg" alt="Happy New Year Animation" width="100%" style="margin-top: 10px;">
    <!-- Video Section
     <video autoplay muted controls width="100%" style="margin-top: 10px;">
      <source src="asset/img/happnewyear.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>-->
