

<section class="pageBanner">
    <img src="https://plus.unsplash.com/premium_photo-1661957610869-668a3773055a?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
    <div class="pageBannerInner">
        <div class="container">
            <h2>INTERNATIONAL DESTINATION</h2>
        </div>
    </div>
</section>





<section class="mainDestination travelBgWithOutpd">
    <div class="container">

        <div class="destinationListOuterWrapper">
            <div id="filtered_data">
                   
                  <div class="destinationListOuter">
                  <div class="listingItem">
                     <a href="" class="listingItemImg">

                            <img src="https://images.unsplash.com/photo-1502602898657-3e91760cbb34?q=80&w=873&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                        </a>
                     <div class="listingItemContent">
                            <h4><a href="https://en.wikipedia.org/wiki/France">France</a></h4>
                        <p></p>
                            <p>Locally nicknamed "La dame de fer" (French for "Iron Lady"), it was constructed as the centrepiece of the 1889 World's Fair, and to crown the centennial anniversary of the French Revolution. Although initially criticised by some of France's leading artists and intellectuals for its design, it has since become a global cultural icon of France and one of the most recognisable structures in the world.[5] The tower received 5,889,000 visitors in 2022.[6] The Eiffel Tower is the most visited monument with an entrance fee in the world:[7] 6.91 million people ascended it in 2015. It was designated a monument historique in 1964, and was named part of a UNESCO World Heritage Site ("Paris, Banks of the Seine") in 1991</p>

                            @* <a href="https://en.wikipedia.org/wiki/France" class="re_more">Read More</a> *@
                        <div class="detailsEnclude">
                           <h6>Detail and Includes</h6>
                           <div class="desti_icon_main">
                              <div class="desti_icon">
                                 <img src="https://clubliberty.in/asset/img/icons/bad.png">
                                 <p>Hotel</p>
                              </div>
                              
                              <div class="desti_icon">
                                 <img src="https://clubliberty.in/asset/img/icons/location1.png">
                                 <p>France</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="listingItem">
                     <a href="" class="listingItemImg">

                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Colosseo_2020.jpg/800px-Colosseo_2020.jpg">
                        </a>
                     <div class="listingItemContent">
                            <h4><a href="https://en.wikipedia.org/wiki/Colosseum">Colosseum,Rome</a></h4>
                        <p></p>
                            <p>The Colosseum (/ˌkɒləˈsiːəm/ KOL-ə-SEE-əm; Italian: Colosseo [kolosˈsɛːo], ultimately from Ancient Greek word "kolossos" meaning a large statue or giant) is an elliptical amphitheatre in the centre of the city of Rome, Italy, just east of the Roman Forum. It is the largest ancient amphitheatre ever built, and is still the largest standing amphitheatre in the world, despite its age. Construction began under the Emperor Vespasian (r. 69–79 AD) in 72[1] and was completed in AD 80 under his successor and heir, Titus (r. 79–81).[2] Further modifications were made during the reign of Domitian (r. 81–96).[3] The three emperors who were patrons of the work are known as the Flavian dynasty, and the amphitheatre was named the Flavian Amphitheatre (Latin: Amphitheatrum Flavium; Italian: Anfiteatro Flavio [aɱfiteˈaːtro ˈflaːvjo]) by later classicists and archaeologists for its association with their family name</p>
                       
                        <div class="detailsEnclude">
                           <h6>Detail and Includes</h6>
                           <div class="desti_icon_main">
                              <div class="desti_icon">
                                 <img src="https://clubliberty.in/asset/img/icons/bad.png">
                                 <p>Hotel</p>
                              </div>
                             
                              <div class="desti_icon">
                                 <img src="https://clubliberty.in/asset/img/icons/location1.png">
                                        <p>Colosseum,Rome</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="listingItem">
                     <a href="" class="listingItemImg">
             
                            <img src="https://lh3.googleusercontent.com/gps-cs-s/AC9h4no9VfF_ETXUyLtEKnrvFimVXH9EPFOAfik_kTcRyhitA6VAi26aGECFO0GpVwKAJeAUPb2p1aZqBNutYdEXxpM6X6GPOAxTG25McjlDz9E06b9nciViFClRyH5iG7xBA931rvix=s680-w680-h510-rw">
                        </a>
                     <div class="listingItemContent">
                            <h4><a href="https://en.wikipedia.org/wiki/Parthenon">Parthenon, Greece</a></h4>
                        <p></p>
                            <p>The Parthenon was built in the 5th century BC in thanksgiving for the Greek victory over the Persian invaders during the Greco-Persian Wars.[10] Like most Greek temples, the Parthenon also served as the city treasury.[11][12] Construction started in 447 BC when the Delian League was at the peak of its power. It was completed in 438 BC; work on the artwork and decorations continued until 432 BC. For a time, it served as the treasury of the Delian League, which later became the Athenian Empire.</p>
                       
                        <div class="detailsEnclude">
                           <h6>Detail and Includes</h6>
                           <div class="desti_icon_main">
                              <div class="desti_icon">
                                 <img src="https://clubliberty.in/asset/img/icons/bad.png">
                                 <p>Hotel</p>
                              </div>
                             
                              <div class="desti_icon">
                                 <img src="https://clubliberty.in/asset/img/icons/location1.png">
                                        <p>Parthenon,Greece</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="listingItem">
                     <a href="" class="listingItemImg">

                            <img src="https://lh3.googleusercontent.com/gps-cs-s/AC9h4noDX_-AI5YrJ7oT7cqO-ESGrnb_BNW5ZmiBj8I_oJCkji_V__0zwql_fR25m8FKVluLCuaxE5le5RkfiB3gOYbYjh90IoPZYI2B5vxrNT8Fmj0Dk7D7SqDRiqtU7K_rSoyVGgE6=s680-w680-h510-rw">
                        </a>
                     <div class="listingItemContent">
                            <h4><a href="https://en.wikipedia.org/wiki/Sagrada_Fam%C3%ADlia">Basílica de la Sagrada Família</a></h4>
                        <p></p>
                            <p>The Basílica i Temple Expiatori de la Sagrada Família,[a] otherwise known as Sagrada Família, is a church under construction in the Eixample district of Barcelona, Catalonia, Spain. It is the largest unfinished Catholic church in the world. Designed by the Catalan architect Antoni Gaudí (1852–1926), in 2005 his work on Sagrada Família was added to an existing (1984) UNESCO World Heritage Site, "Works of Antoni Gaudí".[5] On 7 November 2010, Pope Benedict XVI consecrated the church and proclaimed it a minor basilica.[</p>
                        <a href="https://clubliberty.in/resort/hotel-royal-orchid-jaipur" class="re_more">Read More</a>
                        <div class="detailsEnclude">
                           <h6>Detail and Includes</h6>
                           <div class="desti_icon_main">
                              <div class="desti_icon">
                                 <img src="https://clubliberty.in/asset/img/icons/bad.png">
                                 <p>Hotel</p>
                              </div>
                             
                              <div class="desti_icon">
                                 <img src="https://clubliberty.in/asset/img/icons/location1.png">
                                        <p>Basílica de la Sagrada Família</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="listingItem">
                        <a href="https://en.wikipedia.org/wiki/Stonehenge" class="listingItemImg">

                            <img src="https://www.celebritycruises.com/blog/content/uploads/2020/12/famous-landmarks-in-europe-stonehenge-uk-1024x685.jpg">
                        </a>
                     <div class="listingItemContent">
                            <h4><a href="https://clubliberty.in/resort/royal-orchid-central-jaipur">Stonehenge, UK</a></h4>
                        <p></p>
                            <p>Mammoth and mysterious, this ancient circle of megalithic pillars in the English countryside, on Salisbury Plain, has fascinated generations of curious spectators. Widely touted as the most important prehistoric monument in Britain, with roots stretching as far back as 3000 BC, questions surrounding the significance of the site and its construction remain today. </p>
                        
                        
                        <div class="detailsEnclude">
                           <h6>Detail and Includes</h6>
                           <div class="desti_icon_main">
                              <div class="desti_icon">
                                 <img src="https://clubliberty.in/asset/img/icons/bad.png">
                                 <p>Hotel</p>
                              </div>
                             
                              <div class="desti_icon">
                                 <img src="https://clubliberty.in/asset/img/icons/location1.png">
                                        <p>Stonehenge, UK</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="listingItem">
                        <a href="https://en.wikipedia.org/wiki/St._Peter%27s_Basilica" class="listingItemImg">

                            <img src="https://www.celebritycruises.com/blog/content/uploads/2020/12/famous-landmarks-in-europe-st.-peters-square-rome-italy-1024x683.jpg">
                        </a>
                     <div class="listingItemContent">
                            <h4><a href="https://en.wikipedia.org/wiki/St._Peter%27s_Basilica">St. Peter’s Basilica, Vatican City, Italy </a></h4>
                        <p></p>
                            <p>St. Peter’s Basilica, in the Vatican City (an enclave in Rome), is a principal shrine for the Catholic faith and the largest Christian church in Europe, marking a point of pilgrimage for Catholics the world over. But you needn’t be devout to appreciate the history and grandeur of the site</p>
                
                        <div class="detailsEnclude">
                           <h6>Detail and Includes</h6>
                           <div class="desti_icon_main">
                              <div class="desti_icon">
                                 <img src="https://clubliberty.in/asset/img/icons/bad.png">
                                 <p>Hotel</p>
                              </div>
                              
                              <div class="desti_icon">
                                 <img src="https://clubliberty.in/asset/img/icons/location1.png">
                                        <p>St. Peter’s Basilica in Vatican City, Italy</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="listingItem">
                     <a href="" class="listingItemImg">
 
                            <img src="https://www.celebritycruises.com/blog/content/uploads/2020/12/famous-landmarks-in-europe-hagia-sophia-istanbul-1024x683.jpg">
                        </a>
                     <div class="listingItemContent">
                            <h4><a href="https://en.wikipedia.org/wiki/Istanbul">Welcome Heritage Traditional Haveli</a></h4>
                            <p>The delicate minarets of Hagia Sophia pierce the distinctive Istanbul skyline, while its vast dome is a symbol of the city’s spectacular Byzantine heritage. If you’ve visited Istanbul in the past, you could be forgiven for being confused about the status of this magnificent building, which has changed several times over the years.</p>
                            <a href="https://en.wikipedia.org/wiki/Istanbul" class="re_more">Read More</a>
                        <div class="detailsEnclude">
                           <h6>Detail and Includes</h6>
                           <div class="desti_icon_main">
                              <div class="desti_icon">
                                 <img src="https://clubliberty.in/asset/img/icons/bad.png">
                                 <p>Hotel</p>
                              </div>
                             
                              <div class="desti_icon">
                                 <img src="https://clubliberty.in/asset/img/icons/location1.png">
                                        <p>Hagia Sophia in Istanbul, Turkey</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="listingItem">
                        <a href="https://en.wikipedia.org/wiki/Denmark" class="listingItemImg">
        
                            <img src="https://www.celebritycruises.com/blog/content/uploads/2020/12/famous-landmarks-in-europe-nyhavn-denmark-1024x683.jpg">
                        </a>
                     <div class="listingItemContent">
                            <h4><a href="an">Nyhavn in Copenhagen, Denmark</a></h4>
                            <p>The colorful, gabled facades of Nyhavn’s waterfront, the buzz of the beer gardens, and the boats bobbing on the water is one of the most iconic visions of Copenhagen. Visitors love the jaunty red, yellow, blue, and green facades, while locals see the canal as a favorite spot for cold beers on a hot summer’s day.</p>
                    
                        <div class="detailsEnclude">
                           <h6>Detail and Includes</h6>
                           <div class="desti_icon_main">
                              <div class="desti_icon">
                                 <img src="https://clubliberty.in/asset/img/icons/bad.png">
                                 <p>Hotel</p>
                              </div>
                              
                              <div class="desti_icon">
                                 <img src="https://clubliberty.in/asset/img/icons/location1.png">
                                        <p>Nyhavn in Copenhagen, Denmark</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                </div>
                  @* <div class="pagination-wrapper">
                     <ul class="pagination">
                        <li><a href="#" class="paginate current" id="1">1</a></li>
                        <li><a href="#" class="paginate " id="2">2</a></li>
                        <li><a href="#" class="paginate " id="3">3</a></li>
                        <li><a href="#" class="paginate " id="4">4</a></li>
                        <li><a href="#" class="paginate " id="5">5</a></li>
                        <li><a href="#" class="paginate " id="6">6</a></li>
                        <li><a href="#" class="paginate " id="7">7</a></li>
                        <li><a href="#" class="paginate " id="8">8</a></li>
                        <li><a href="#" class="paginate " id="9">9</a></li>
                     </ul>
                  </div> *@
            </div>

            <div>
                <div class="sidebar-widget category-widget make-me-sticky">
                    <div class="widget-title">
                        <h3>City</h3>
                    </div>
                    <div class="widget-content">
                        <ul class="category-list">
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city231" value="231">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Antalya</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city228" value="228">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Athens</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city9" value="9">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Bali</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city78" value="78">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Bangkok</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city82" value="82">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Beijing</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city237" value="237">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Bentota</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city233" value="233">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Cairo</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city102" value="102">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Canada</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city232" value="232">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Capadocia</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city235" value="235">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Colombo</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city240" value="240">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Da Nang</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city5" value="5">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Dubai</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city250" value="250">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Egypt</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city104" value="104">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Greece</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city241" value="241">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Halong</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city239" value="239">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Hanoi</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city238" value="238">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Ho Chi Minh City</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city121" value="121">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Hongkong</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city225" value="225">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Indonesia</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city230" value="230">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Istanbul</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city236" value="236">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kandy</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city152" value="152">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Krabi</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city222" value="222">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kuala Lumpur</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city224" value="224">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Kuta</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city223" value="223">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Langkawi</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city15" value="15">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Las Vegas</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city10" value="10">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">London</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city16" value="16">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Los Angeles</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city234" value="234">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Luxor</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city6" value="6">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Malaysia</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city100" value="100">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Maldives</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city117" value="117">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Mexico</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city242" value="242">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Nepal</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city20" value="20">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">New Jersey</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city136" value="136">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">New York</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city18" value="18">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Orlando</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city11" value="11">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Paris</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city8" value="8">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Pattaya </span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city229" value="229">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Philadelphia</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city79" value="79">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Phuket</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city17" value="17">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">San Francisco</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city227" value="227">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Santorini</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city249" value="249">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Saudi Arabia</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city14" value="14">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Singapore</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city13" value="13">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Spain</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city81" value="81">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Sri Lanka</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city182" value="182">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Texas ( Dallas )</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city181" value="181">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Thailand</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city118" value="118">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Turkey</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city226" value="226">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Ubud</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city177" value="177">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Vietnam</span>
                                    </label>
                                </div>
                            </li>
                            <li class="custom-check-box">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input cities" id="city21" value="21">
                                        <span class="material-control-indicator"></span>
                                        <span class="description">Washington</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>