@section Styles
{
    <link rel="stylesheet" href="~/price/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/price/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/price/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/price/css/magnific-popup.min.css">
    <link rel="stylesheet" href="~/price/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/price/css/style.css">
}








<section class="position-relative space">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title">Let’s Checkin</span>
            <h2 class="sec-title">Affordable Pricing plans</h2>
        </div>
        <div class="row gy-4 justify-content-center">
            <div class="col-xl-4 col-md-6">
                <div class="price-card">
                    <div class="offer-tag">Popular</div>
                    <div class="price-card_wrapp">
                        <div class="price-card_icon"><img src="images/price_1_1.svg" alt="img"></div>
                        <h3 class="box-title">Basic Plan</h3>
                    </div>
                    <div class="price-card_content">
                        <h4 class="price-card_price">$785.00<span class="duration">/Per Night</span></h4>
                        <p class="price-card_text">Essential services for basic and signle person seeking.</p>
                        <div class="checklist">
                            <ul>
                                <li>Up to 2 members</li>
                                <li>Room Service Fees</li>
                                <li>Driver Service Feet</li>
                                <li>Tour management</li>
                                <li>Collaboration</li>
                                <li>Entrance Fees</li>
                                <li>Guide Fees in Destination</li>
                            </ul>
                        </div>
                    </div>
                    <div class="price-btn"><a href="contact.html" class="th-btn style3 w-100">Get Started</a></div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="price-card active">
                    <div class="offer-tag">Popular</div>
                    <div class="price-card_wrapp">
                        <div class="price-card_icon"><img src="images/price_1_2.svg" alt="img"></div>
                        <h3 class="box-title">Advanced Plan</h3>
                    </div>
                    <div class="price-card_content">
                        <h4 class="price-card_price">$980.00<span class="duration">/Per Night</span></h4>
                        <p class="price-card_text">Essential services for basic and signle person seeking.</p>
                        <div class="checklist">
                            <ul>
                                <li>Up to 2 members</li>
                                <li>Room Service Fees</li>
                                <li>Driver Service Feet</li>
                                <li>Tour management</li>
                                <li>Collaboration</li>
                                <li>Entrance Fees</li>
                                <li>Auto refresh ads</li>
                            </ul>
                        </div>
                    </div>
                    <div class="price-btn"><a href="contact.html" class="th-btn style3 w-100">Get Started</a></div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="price-card">
                    <div class="offer-tag">Popular</div>
                    <div class="price-card_wrapp">
                        <div class="price-card_icon"><img src="images/price_1_3.svg" alt="img"></div>
                        <h3 class="box-title">Premium Plan</h3>
                    </div>
                    <div class="price-card_content">
                        <h4 class="price-card_price">$1580.00<span class="duration">/Per Night</span></h4>
                        <p class="price-card_text">Essential services for basic and signle person seeking.</p>
                        <div class="checklist">
                            <ul>
                                <li>Up to 2 members</li>
                                <li>Room Service Fees</li>
                                <li>Driver Service Feet</li>
                                <li>Tour management</li>
                                <li>Collaboration</li>
                                <li>Entrance Fees</li>
                                <li>Auto refresh ads</li>
                            </ul>
                        </div>
                    </div>
                    <div class="price-btn"><a href="contact.html" class="th-btn style3 w-100">Get Started</a></div>
                </div>
            </div>
        </div>       
    </div>
</section>





