@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main class="singleContent">
	<section class="pageBanner">
		<img src="https://plus.unsplash.com/premium_photo-1683120698590-7e21c5ff1b5b?q=80&w=869&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
		<div class="pageBannerInner">
			<div class="container">
				<h2>Payment And Policy</h2>
			</div>
		</div>
	</section>
	<section class="travelBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Usage</h2>
			</div>
			<p>
				Haven Club and Resorts Private Limited, established in 2022, is a distinguished organization specializing in luxury vacation experiences
			</p>
			<ul>
				<li>Haven Club and Resorts is a Private limited incorporated under the Companies Act, 2022</li>
				<li>"Applicant" refers to any individual(s) who are potential vacationers/users applying for membership with Haven Club and Resorts.</li>

				<li>"Vacationer/User" denotes the applicant whose membership application has been approved by the management or authorized personnel of Haven Club and Resorts, and under whose name the Haven Club and Resorts certificate is issued upon receipt of the initial payment.</li>
				<li>"ANNUAL MAINTENANCE CHARGES" or "ANNUAL SUBSCRIPTION FEES" are the fees determined by the management of Haven Club and Resorts, payable annually by the vacationer/user.</li>

				<li>"INTERNATIONAL EXCHANGE FEES" are the fees required by vacationers to access various facilities as mandated by respective government or service providers before booking, and these fees may vary periodically.</li>
				<li>"Purple Season" refers to the period encompassing Diwali week through to Christmas and New Year.</li>
				<li>"White Season" designates the time of year that is outside of the "Purple Season" timeframe.</li>
			
			
			
			</ul>
		</div>
	</section>
	<section class="lightBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Process for Applying</h2>
			</div>
			<p>At Haven Club and Resorts Private Limited, we utilize cookies and various technologies to improve your browsing experience on our website. These tools assist us in analyzing website traffic, personalizing content, and customizing advertisements to align with your interests. By using our website, you agree to the use of cookies and similar technologies as described in our privacy policy. You have the option to manage your cookie preferences through your browser settings.</p>
			<ul>
				
				<li>Applications for membership with Haven Club and Resorts Private Limited must be submitted using the prescribed format approved by the management ("Application Form"), which constitutes part of the Membership Terms and Conditions</li>
			<li>Membership is subject to the Terms and Conditions, along with the rules and regulations established under them, which may be amended periodically by the management and communicated to members by posting copies at the Office Premises/Website or other suitable locations ("Rules and Regulations")</li>
				<li>The Terms and Conditions encompass the FEE STRUCTURE for Membership as of the date specified, which may be revised by the Management from time to time. Additionally, the PLAN & FEE STRUCTURE ARE INTEGRAL PARTS OF THIS AGREEMENT</li>
				<li>The authority of Haven Club and Resorts Private Limited is vested exclusively in its Partners and authorized executives, referred to herein as the "Management," as outlined in these Rules and Regulations. The Management reserves the right to reject or conditionally accept Application Forms without providing any explanation. A member ("Member") refers to an individual whose application has been accepted by the Management or authorized personnel</li>
				<li>Members have the privilege to utilize Haven Club and Resorts facilities during the specified days and times established by the Management. The Management may also designate certain calendar days as Purple and White Seasons, along with other categories as notified to members periodically</li>
		
		
		
		
		
		
		</ul>
		
		</div>
	</section>
	@* <section class="travelBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Sharing Information with Third Parties</h2>
			</div>
			<p>Haven Club And Resorts Private Limited authorizes you to view, print or download any content, graphic, form or document from the Site for your personal, non-commercial use and you must not change or delete any such material or copyright notice appearing on such material. You may not modify the materials at this Site in any way or repost, republish, reproduce, publicly display, perform, assign, sublicense, sell or prepare derivative works of or otherwise use the materials for any purpose except as expressly permitted under this Agreement. Copyright in the materials at this Site is owned by or used with permission Haven Club And Resorts Private Limited and any unauthorized use of any materials at this Site may violate copyright, trade mark and other proprietary (including but not limited to intellectual property) legal rights of Haven Club And Resorts Private Limited. As a user of this Web Site you are granted a nonexclusive, nontransferable, revocable, limited license to access and use this Web Site and Content in accordance with these Terms of Use. Provider may terminate this license at any time for any reason</p>
		</div>
	</section> *@
	<section class="lightBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Qualification Requirements</h2>
			</div>
			<ul>
				<li>Individuals listed in the "membership category" section above may apply for membership following the procedures outlined in the "Application Process" section below. Membership or nomination to the Golf Resort shall not be granted to any individual member or corporate entity declared bankrupt and not discharged, or convicted by a court of law.</li>
				<li>
					Corporations are entitled to nominate a specified number of individuals for a defined period, as specified in the Fee Structure.
					same thing for haven club and resorts
				</li>


			</ul>
			@* <p>At Haven Club and Resorts Private Limited, we may share your personal information with trusted third parties to facilitate bookings, inquiries, and transactions. Please be assured that we only disclose the necessary information required to ensure smooth service delivery. We prioritize the protection and confidentiality of your data, and any sharing with third parties is conducted in accordance with applicable laws and regulations.</p> *@
		</div>
	</section>
	<section class="travelBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Standard Provisions</h2>
			</div>
			<ul><li>
					Vacationers/Users are required to submit their applications along with copies of Identity Proof and Address Proof. The vacation charges mentioned must be paid online in favor of "Haven Club and Resorts Private Limited."
			</li>
				<li>Individual applicants/members applying for Membership must complete and submit the Application Form, provide KYC documents, pay the applicable membership fees, and fulfill all other membership formalities as required. The Management of Haven Club and Resorts Private Limited reserves the sole discretion to accept or reject any membership application without providing any reason, and the applicant cannot contest the Management's decision. Membership is granted only after the full and proper procedure, as determined by Management, is completed.</li>

				<li>Cash payments, if any, must be remitted directly to the "Haven Club and Resorts Private Limited" ACCOUNT DEPARTMENT, and a receipt should be obtained immediately along with a confirmation email sent to the registered email address of the Vacationer/User. The Management/Company shall not be held responsible under any circumstances for cash payments made to company sales personnel, employees, or marketing associates.</li>
		
		
		</ul>



			@* <p>At Haven Club and Resorts Private Limited, we collaborate closely with a network of trusted service providers and partners to deliver the highest quality of service to our customers. These partnerships allow us to offer a diverse array of products and services, including accommodations, transportation, excursions, and more. We meticulously choose our partners based on their expertise, reliability, and dedication to customer satisfaction, ensuring that your travel experience surpasses your expectations. You can be confident that your personal information is shared only with authorized partners for the specific purpose of meeting your travel needs and preferences</p> *@
		</div>
	</section>
	<section class="lightBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Guidelines for Vacationers</h2>
			</div>
			<ul>
				<li>A Vacationer is entitled to utilize the allocated membership nights each year in accordance with the membership plan. The calendar year consists of 365 days, categorized into Peak and Non-Peak Seasons.</li>
				<li>Accommodation will be provided in Standard rooms, subject to availability. If a Vacationer travels with three adults, the additional charge for the extra person will be the responsibility of the Vacationer/User. In cases where two rooms are assigned to a member, nights will be deducted based on the number of rooms booked. All bookings and room assignments are contingent upon availability at the respective resorts/hotels. No disputes or undue pressure on the management or its employees will be tolerated regarding these matters.</li>
				<li>The Vacationer/User has the right to utilize their nights but cannot gift or divide the nights (minimum of 2 nights) without prior notification to "Haven Club and Resorts Private Limited" as per the booking terms and conditions</li>
				<li>The Vacationer's entitlement includes properties affiliated, associated, or allied with "Haven Club and Resorts Private Limited," including but not limited to short/long-term leases or tie-ups. The Vacationer's entitlement can be redeemed at any of the allied properties. A list of these properties is available on the company website and will be updated periodically</li>
				<li>The Vacationer agrees, accepts, and confirms that the vacation package is valid only upon full payment received by the company. Prices may be subject to revision from time to time without prior notice, and no disputes regarding this will be entertained by the management</li>
			</ul>
			@* <p>We generally share anonymized information and reports with our valued suppliers, advertisers, and potential business partners. Haven Club and Resorts Private Limited encourages all customers to review our privacy policy before finalizing their booking. This allows them to gain a thorough understanding of our practices and policies.</p> *@
		</div>
	</section>
	<section class="lightBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Procedure for Using Holiday Benefits</h2>
			</div>
			<ul>
				<li>
					A member can submit a holiday reservation request using the prescribed format approved by Haven Club and Resorts Private Limited. For requests involving joint applicants, only the principal member’s request will be taken into consideration.

					All holiday reservations will be processed on a first-come, first-served basis and will be subject to the eligibility of the membership and availability at the respective resort/hotel. The booking window will be open from 45 days to 10 days prior to the check-in date..
				</li>
				<li>The Vacationer/User acknowledges that they have been informed about the season, terms and conditions of their membership related to bookings, the booking procedure, and availability at the respective resort/hotel, and will make booking requests accordingly.</li>
				
				
				
				<li>
					The Vacationer/User understands and accepts that the booking process can be completed either via email or through the member login portal on the website.

					The Vacationer/User acknowledges that a white season owner cannot travel during the purple season, while a purple season owner can travel throughout the year, subject to availability and the booking window
				</li>
				
				
				
				
				
				
				
				
				<li>The Vacationer/User is responsible for paying exchange fees for utilizing international partnerships. These fees may range from 1500 to 3000, depending on the city/country, season, and duration of travel.</li>
				
				
				
				
				<li>Notwithstanding the above, Haven Club and Resorts Private Limited will not be liable or obligated to fulfill reservations if it is unable to do so due to war, civil unrest, force majeure, pandemics, Acts of God, notifications from any court, state government, competent authority, or government of the concerned countries, or other reasons beyond the control of Haven Club and Resorts Private Limited</li>
			</ul>
			<p>We generally share anonymized information and reports with our valued suppliers, advertisers, and potential business partners. Haven Club and Resorts Private Limited encourages all customers to review our privacy policy before finalizing their booking. This allows them to gain a thorough understanding of our practices and policies.</p>
		</div>
	</section>






	<section class="travelBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block"> Details of Vacationer Packages</h2>
			</div>
			<ul>
				<li>
					In the event of multiple applications, the first user will have the priority to request a booking for a specific date. The booking department will respond and, subject to availability, confirm the booking. The confirmation will be sent to the Vacationer via email
				</li>
				<li>Any booking made is non-cancelable. The booking will automatically be considered as the utilization of that holiday by the Vacationer/User, and no disputes will be entertained.</li>

				<li>
					The Vacationer/User can access the benefits upon full payment of the gateway package, with no outstanding dues, after receiving the gateway card and kit.

					Haven Club and Resorts Private Limited reserves the right to withdraw any properties/resorts/hotels from the list at any time without prior notice.
				</li>
				<li>
					Bookings will be processed on a first-come, first-served basis and are open for booking as specified below. Confirmation of bookings is subject to availability according to our inventory with the hotels/resorts. Any unnecessary disputes or arguments regarding room availability at the desired resort/hotel will not be entertained, as the company cannot reserve rooms that are not available in advance.

					A nominal exchange fee may apply in the form of luxury taxes or state taxes, which will be the responsibility of the Vacationer/User
				</li>
				<li>Notwithstanding anything stated above, Haven Club and Resorts Private Limited shall not incur any liability or obligation if it is unable to fulfill the same due to any war, civil unrest, force majeure, pandemics, Acts of God, notifications from any court of law, state government, competent authority, or the Government of India or the concerned countries, or any other reasons beyond the control of Haven Club and Resorts Private Limited</li>
			</ul>



			@* <p>At Haven Club and Resorts Private Limited, we collaborate closely with a network of trusted service providers and partners to deliver the highest quality of service to our customers. These partnerships allow us to offer a diverse array of products and services, including accommodations, transportation, excursions, and more. We meticulously choose our partners based on their expertise, reliability, and dedication to customer satisfaction, ensuring that your travel experience surpasses your expectations. You can be confident that your personal information is shared only with authorized partners for the specific purpose of meeting your travel needs and preferences</p> *@
		</div>
	</section>





	<section class="lightBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Overall Terms and Conditions</h2>
			</div>
			
			<p>The Vacationer/User/Member expressly acknowledges and agrees that all payments made to Haven Club and Resorts Private Limited, including but not limited to vacation charges, membership fees, and gateway fees, are absolutely non-refundable under any circumstances whatsoever. It is explicitly understood and accepted by the member that these payments shall not be considered refundable deposits under any condition, irrespective of whether the member actually utilizes or fails to utilize any of the membership benefits, services, or facilities offered by Haven Club and Resorts Private Limited. The member further acknowledges that no refund claims shall be entertained by the management for any reason, including voluntary withdrawal of membership application, inability to use services, or any other personal or unforeseen circumstances that may prevent the member from availing the membership benefits. This non-refundable policy remains in full force and effect without exceptions.</p>
		</div>
	</section>


	<section class="lightBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Levies</h2>
			</div>

			<p>The Vacationer/User is responsible for the payment of all applicable taxes, charges, or levies, whether statutory or otherwise, imposed by any government, local authority, or other entities in relation to the Vacationer price or any additional fees associated with the purchase or use of the Haven Club and Resorts gateway (referred to as taxes). Failure to remit these taxes and levies will result in the Vacationer/User being disqualified from accessing vacation benefits and will be deemed a breach of contract, which may lead to the termination of the Vacationer/User agreement. This condition is acknowledged, accepted, and confirmed by the Vacationer/Users.</p>
		</div>
	</section>
	<section class="lightBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Dispute Resolution</h2>
			</div>

			<p>In the event of any issues, the Vacationer/User may reach out to the call center team of Haven Club and Resorts Private Limited for assistance. If the issue is not resolved to the satisfaction of the Vacationer/User, they should escalate the matter to the resolution team of Haven Club and Resorts Private Limited located in Ahmedabad. Should an amicable resolution still not be reached, any disputes or disagreements arising between the parties regarding these Terms and Conditions will be conclusively settled through arbitration in Gujarat. This arbitration will be conducted by an arbitrator appointed by the Company, in accordance with the Arbitration and Conciliation Act, 1996. The parties agree that the decision made by the arbitrator will be final and binding, and that judgment on the award may be entered in a court of competent jurisdiction.</p>
		</div>
	</section>




	<section class="lightBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Legal Authority and Governing Law</h2>
			</div>

			<p>The services rendered under this agreement are subject to all relevant laws and regulations of India. Only the courts situated in the Ahmedabad District, Gujarat, shall have exclusive jurisdiction over any disputes arising between the parties. All other courts are expressly excluded from hearing or adjudicating any such disputes.</p>
		</div>
	</section>



	<section class="lightBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Overall</h2>
			</div>

			<p>The Vacationer/User agrees to indemnify, defend, and hold harmless Haven Club and Resorts Private Limited from any and all claims, disputes, litigation, judgments, costs, and attorney fees that may arise from: (a) loss, damage, or injury to the Vacationer/User, their family members, guests, or personal property; (b) any actions or omissions made by the Vacationer/User; (c) booking or traveling in connection with a Haven Club and Resorts package; (d) the actions, omissions, products, or services provided by any travel suppliers, individuals, or companies associated with Haven Club and Resorts; (e) any failures or delays in performance by any travel supplier. Haven Club and Resorts Private Limited shall not be held responsible or liable for any lost, stolen, or misplaced items. The Vacationer/User is also aware of the inherent risks associated with staying in accommodations near the ocean or those featuring pools or Jacuzzis.</p>
		</div>
	</section>
</main>