<main class="singleContent">
	<section class="pageBanner">
		<img src="https://images.unsplash.com/photo-1574410206732-0000dbcb116d?q=80&w=876&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
		<div class="pageBannerInner">
			<div class="container">
				<h2>PRIVACY POLICY</h2>
			</div>
		</div>
	</section>
	<section class="travelBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Privacy Policy</h2>
			</div>
			<p>
				At Haven club and Resorts Private limited, we prioritize your privacy as a fundamental principle. We strongly believe that our customers have the right to understand our privacy practices. We acknowledge the importance of the information we collect, use, disclose, and maintain.

				This privacy policy is designed to inform our customers about the kinds of personal information we collect and the ways in which we use it. You can be confident that we are dedicated to protecting your information and will never share it with third parties, whether during the registration process or at any other time
			</p>
			<br>
			


		</div>
	</section>
	<section class="lightBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Collection Of Personally Identifiable Information</h2>
			</div>
			<p>
				Personal information refers to any data that can be used to identify or contact an individual. At Ocean Club & Resorts, we may ask customers to provide personal information, either directly or through a third party. It is important to emphasize that we never collect any information without your clear consent or knowledge.

				Our team is committed to maintaining the security of the information you entrust to us. We implement proactive measures to protect the data we collect from you, ensuring it is safe from unauthorized access, use, disclosure, or alteration. You can be assured that your privacy and the security of your personal information are our top priorities
			</p>
		</div>
	</section>
	<section class="travelBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Updates to this Privacy Policy</h2>
			</div>
			<p>
				At Haven Club and Resorts Private Limited, we may periodically assess and update our privacy policy to reflect changes in our practices, regulatory requirements, or advancements in technology. Any updates to this privacy policy will be communicated to you through our website or other suitable channels. We recommend reviewing this policy regularly to stay informed about how we collect, use, and safeguard your personal information.

				By continuing to use our services after any modifications to this privacy policy, you acknowledge and accept the updated terms. If you have any questions or concerns regarding these changes or our privacy practices in general, please do not hesitate to contact us for clarification. Your privacy and trust are of the highest importance to us at Haven Club and Resorts Private Limited
			</p>
		</div>
	</section>
	@* <section class="lightBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Security</h2>
			</div>
			<p>This website implements security measures to safeguard against the loss, misuse, and alteration of information that we manage. The data is stored behind a firewall, with access limited to authorized personnel only. All financial transactions are protected using 128-bit encryption, which is the strongest encryption currently available for commercial applications. If your browser supports a lower level of encryption, we recommend upgrading it. If you have any questions regarding the security features of the website, please feel free to email us.</p>
		</div>
	</section> *@

</main>