<main class="singleContent">
	<section class="pageBanner">
		<img src="https://images.unsplash.com/photo-1574410206732-0000dbcb116d?q=80&w=876&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
		<div class="pageBannerInner">
			<div class="container">
				<h2>Privacy Policy</h2>
			</div>
		</div>
	</section>
	<section class="travelBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Privacy Policy</h2>
			</div>
			<p> This statement outlines how we may gather and utilize information about you through our website. If you have any inquiries regarding our privacy policies, please click here to contact us via email. We recognize and value the significance of your privacy. We will only obtain personal information if you provide it to us when we explicitly request it. We may ask for your personal information in several situations, such as</p>
			<br>
			<ul>
				<li>When you book a reservation or make a purchase on our website or through our customer service representatives via email, letter, fax, or phone;</li>
				<li>When you sign up for promotions with us;</li>
				<li>When you participate in surveys or share your feedback with us.</li>
			</ul>


		</div>
	</section>
	<section class="lightBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Collection Of Personally Identifiable Information</h2>
			</div>
			<p>All information we collect about you will be governed by Indian law. When you submit information through our website, you are providing it to us collectively, and you should be aware that it may be accessed from countries with varying levels of personal data protection, which may not always match the level of protection available in your own country. We utilize your Internet Protocol (IP) address to help identify issues with our server and to manage our website. We will not share any of your information with third parties. Access to any Confidential Information you provide will be limited to our employees, consultants, representatives, advisors, and agents who require this information to approve, evaluate, or otherwise assist in delivering services. We ensure that these individuals are fully informed of and agree in writing to adhere to the terms of this statement before any information is disclosed to them. Anyone on our mailing or emailing lists can opt out at any time from receiving future promotional communications from us or request that their details be removed from our mailing lists.</p>
		</div>
	</section>
	<section class="travelBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Services</h2>
			</div>
			<p>CL collaborates with various service providers to enhance the quality and standards offered to our members. We consistently strive to improve our operational efficiency and achieve higher benchmarks than our competitors. As a result, certain third parties that assist us in delivering effective services will have limited access to member information and will utilize it on behalf of CL. We make every effort to ensure that all service providers adhere strictly to privacy guidelines and do not use this information for any unauthorized purposes.</p>
		</div>
	</section>
	<section class="lightBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Security</h2>
			</div>
			<p>This website implements security measures to safeguard against the loss, misuse, and alteration of information that we manage. The data is stored behind a firewall, with access limited to authorized personnel only. All financial transactions are protected using 128-bit encryption, which is the strongest encryption currently available for commercial applications. If your browser supports a lower level of encryption, we recommend upgrading it. If you have any questions regarding the security features of the website, please feel free to email us.</p>
		</div>
	</section>

</main>