
<main class="singleContent">
	<section class="pageBanner">
		<img src="https://plus.unsplash.com/premium_photo-1683120698590-7e21c5ff1b5b?q=80&w=869&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
		<div class="pageBannerInner">
			<div class="container">
				<h2>Terms and Conditions</h2>
			</div>
		</div>
	</section>
	<section class="travelBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Utilization of Personal Data</h2>
			</div>
			<p>
				At Haven Club and Resorts Private Limited, we utilize user personal information for our mutual benefit, ensuring a smooth experience for both parties. This data may be shared with trusted third parties to facilitate bookings, inquiries, and transactions. It is important to note that the information collected may be processed outside of India to fulfill your requested products and services. Customers will be asked to provide their consent for information sharing during the booking process. The personal data collected will also be used to share the latest product announcements, promotions, offers, and events from Haven Club and Resorts Private Limited. We are pleased to highlight that this practice significantly enhances our products and services. Customers have the option to unsubscribe from these announcements at any time.

				At Haven Club and Resorts Private Limited, we primarily use your information to improve our existing products, services, content, and advertising. Occasionally, the personal data collected is also used internally for research, analysis, and auditing purposes.
			</p>
		</div>
	</section>
	<section class="lightBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Utilization of Cookies and Technologies</h2>
			</div>
			<p>At Haven Club and Resorts Private Limited, we utilize cookies and various technologies to improve your browsing experience on our website. These tools assist us in analyzing website traffic, personalizing content, and customizing advertisements to align with your interests. By using our website, you agree to the use of cookies and similar technologies as described in our privacy policy. You have the option to manage your cookie preferences through your browser settings.</p>
		</div>
	</section>
	@* <section class="travelBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Sharing Information with Third Parties</h2>
			</div>
			<p>Haven Club And Resorts Private Limited authorizes you to view, print or download any content, graphic, form or document from the Site for your personal, non-commercial use and you must not change or delete any such material or copyright notice appearing on such material. You may not modify the materials at this Site in any way or repost, republish, reproduce, publicly display, perform, assign, sublicense, sell or prepare derivative works of or otherwise use the materials for any purpose except as expressly permitted under this Agreement. Copyright in the materials at this Site is owned by or used with permission Haven Club And Resorts Private Limited and any unauthorized use of any materials at this Site may violate copyright, trade mark and other proprietary (including but not limited to intellectual property) legal rights of Haven Club And Resorts Private Limited. As a user of this Web Site you are granted a nonexclusive, nontransferable, revocable, limited license to access and use this Web Site and Content in accordance with these Terms of Use. Provider may terminate this license at any time for any reason</p>
		</div>
	</section> *@
	<section class="lightBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Sharing Information with Third Parties</h2>
			</div>
			<p>At Haven Club and Resorts Private Limited, we may share your personal information with trusted third parties to facilitate bookings, inquiries, and transactions. Please be assured that we only disclose the necessary information required to ensure smooth service delivery. We prioritize the protection and confidentiality of your data, and any sharing with third parties is conducted in accordance with applicable laws and regulations.</p>
		</div>
	</section>
	<section class="travelBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Collaboration with Service Providers and Partners</h2>
			</div>
			<p>At Haven Club and Resorts Private Limited, we collaborate closely with a network of trusted service providers and partners to deliver the highest quality of service to our customers. These partnerships allow us to offer a diverse array of products and services, including accommodations, transportation, excursions, and more. We meticulously choose our partners based on their expertise, reliability, and dedication to customer satisfaction, ensuring that your travel experience surpasses your expectations. You can be confident that your personal information is shared only with authorized partners for the specific purpose of meeting your travel needs and preferences</p>
		</div>
	</section>
	<section class="lightBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Partners with Whom We Share Your Personal Information</h2>
			</div>
			<p>We generally share anonymized information and reports with our valued suppliers, advertisers, and potential business partners. Haven Club and Resorts Private Limited encourages all customers to review our privacy policy before finalizing their booking. This allows them to gain a thorough understanding of our practices and policies.</p>
		</div>
	</section>

</main>