
<main class="singleContent">
	<section class="pageBanner">
		<img src="https://plus.unsplash.com/premium_photo-1683120698590-7e21c5ff1b5b?q=80&w=869&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
		<div class="pageBannerInner">
			<div class="container">
				<h2>Terms and Conditions</h2>
			</div>
		</div>
	</section>
	<section class="travelBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Terms & Condition</h2>
			</div>
			<p>Welcome to the Haven Club And Resorts Private Limited web site (the "Site"). Please read these Terms of Use carefully before using this Site. By using this Site you agree to comply with and be bound by these Terms of Use. If you do not agree to these terms, you must not use this Site.</p>
		</div>
	</section>
	<section class="lightBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Acceptance Of Agreement</h2>
			</div>
			<p>You agree to the terms and conditions outlined in this Terms of Use Agreement ("Agreement") with respect to our Site. This Agreement constitutes the entire and only agreement between us and you with respect to the Site and supersedes all prior or contemporaneous agreements, representations, warranties and understandings with respect to the Site, the content, products or services provided by or through the Site, and the subject matter of this Agreement. This Agreement may be amended at any time by us from time to time without specific notice to you. The latest Agreement will be posted on the Site, and you must review this Agreement prior to using the Site.</p>
		</div>
	</section>
	<section class="travelBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Use Of Website</h2>
			</div>
			<p>Haven Club And Resorts Private Limited authorizes you to view, print or download any content, graphic, form or document from the Site for your personal, non-commercial use and you must not change or delete any such material or copyright notice appearing on such material. You may not modify the materials at this Site in any way or repost, republish, reproduce, publicly display, perform, assign, sublicense, sell or prepare derivative works of or otherwise use the materials for any purpose except as expressly permitted under this Agreement. Copyright in the materials at this Site is owned by or used with permission Haven Club And Resorts Private Limited and any unauthorized use of any materials at this Site may violate copyright, trade mark and other proprietary (including but not limited to intellectual property) legal rights of Haven Club And Resorts Private Limited. As a user of this Web Site you are granted a nonexclusive, nontransferable, revocable, limited license to access and use this Web Site and Content in accordance with these Terms of Use. Provider may terminate this license at any time for any reason</p>
		</div>
	</section>
	<section class="lightBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Editing, Deleting And Modification</h2>
			</div>
			<p>We reserve the right in our sole discretion to edit or delete any documents, information or other content appearing on the Site.</p>
		</div>
	</section>
	<section class="travelBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Copyright</h2>
			</div>
			<p>All material available on this web site is protected by copyright laws. Distribution of the material from the Web Site, for commercial purposes is prohibited. "The owners of the intellectual property, copyrights and trademarks or its affiliates or third party licensors". Domestic and International copyright and Trademark laws protect the entire Contents of the Site. You are expressly prohibited from modifying, copying, reproducing, republishing, uploading, posting, transmitting or distributing any material on this Site including text, graphics, code .</p>
		</div>
	</section>
	<section class="lightBg">
		<div class="container">
			<div class="secTitle">
				<span class="block">Haven Club And Resorts Private Limited</span>
				<h2 class="inline-block">Terms & conditions for contest participants</h2>
			</div>
			<p>Haven Club And Resorts Private Limited reserves the right to revise, amend or modify our TERMS policy at any time and in any manner it pleases. Any change or revision will be posted here.</p>
		</div>
	</section>

</main>